<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:fragment="link">
        <link rel="stylesheet" href="../../res/layui/css/layui.css" th:href="@{${rootPath} + '/res/layui/css/layui.css'}">
        <link rel="stylesheet" href="../../res/css/global.css" th:href="@{${rootPath} + '/res/css/global.css'}">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  rel="stylesheet">

        <link rel="stylesheet" href="../res/css/dropdown.css" th:href="@{${rootPath} + '/res/css/dropdown.css'}"/>
        <script src="../res/js/jquery.min.js" th:src="@{${rootPath} + '/res/js/jquery.min.js'}"></script>
        <script src="../res/js/jquery.sweet-dropdown.min.js" th:src="@{${rootPath} + '/res/js/jquery.sweet-dropdown.min.js'}"></script>
        <link rel="stylesheet" href="../res/swiper/swiper-3.4.2.min.css" th:href="@{${rootPath} + '/res/swiper/swiper-3.4.2.min.css'}">
        <script src="../res/swiper/swiper-3.4.2.jquery.min.js" th:src="@{${rootPath} + '/res/swiper/swiper-3.4.2.jquery.min.js'}"></script>
        <!--<script src="../res/layer/layer.js" th:src="@{${rootPath} + '/res/layer/layer.js'}"></script>-->
    </head>
</head>
<body>
</body>
</html>
