<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flyapi.dao.CmsCommentMapper">
  <resultMap id="BaseResultMap" type="com.flyapi.model.CmsComment">
    <id column="comment_id" jdbcType="BIGINT" property="commentId" />
    <result column="author_id" jdbcType="BIGINT" property="authorId" />
    <result column="target_id" jdbcType="BIGINT" property="targetId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="like_num" jdbcType="INTEGER" property="likeNum" />
    <result column="target_type" jdbcType="TINYINT" property="targetType" />
    <result column="is_read" jdbcType="TINYINT" property="isRead" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>

  <resultMap id="ResultMapWithReply" type="com.flyapi.pojo.vo.ShowCommentVo">
    <id column="comment_id" jdbcType="BIGINT" property="commentId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <association property="ucenterUser" column="user_id"  select="findUser"/>
    <collection property="cmsReplyList" column="comment_id" ofType="List" select="getReplyByCommentId"/>
  </resultMap>

  <resultMap id="replyMap" type="com.flyapi.pojo.vo.ShowReplyVo">
    <id column="reply_id" jdbcType="BIGINT" property="replyId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="from_user_id" jdbcType="BIGINT" property="fromUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <association property="fromUser" column="from_user_id" select="findUser"/>
  </resultMap>

  <resultMap id="userInfo" type="com.flyapi.pojo.vo.ShowUserVo">
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
  </resultMap>

  <sql id="Base_Column_List">
    comment_id, author_id,target_id, user_id, like_num, target_type,is_read, create_time, is_delete, content
  </sql>

  <select id="getReplyByCommentId"  resultMap="replyMap">
    select *
    from cms_reply
    where comment_id = #{commentId,jdbcType=BIGINT}
  </select>

  <select id="findUser"  resultMap="userInfo">
    select *
    from ucenter_user
    where user_id = #{userId,jdbcType=BIGINT}
  </select>

  <select id="findCommentById" parameterType="java.lang.Long" resultMap="ResultMapWithReply">
    select
      comment_id,create_time,content,user_id
    from cms_comment
    where target_id = #{targetId,jdbcType=BIGINT}
  </select>

  <select id="findCommentByAuthorId" parameterType="java.lang.Long" resultType="com.flyapi.pojo.vo.CommentVo">
    SELECT c.content,
          c.create_time createTime,
          c.is_read isRead,
          c.user_id userId,
          c.target_id targetId,
          c.target_type targetType,
          u.nick_name nickName,
		  a.title
    FROM cms_comment c
    LEFT JOIN ucenter_user u ON c.user_id =u.user_id
	LEFT JOIN cms_article a ON c.target_id =a.article_id
    where c.author_id = #{authorId,jdbcType=BIGINT} AND c.is_delete = 0 AND c.target_type =1
    ORDER BY c.is_read DESC
  </select>

  <update id="updateRead" parameterType="com.flyapi.model.CmsComment">
    update cms_comment
    <set>
        is_read = 1
    </set>
    <where>
      is_delete = 0
      <if test="commentId">
        and comment_id = #{commentId,jdbcType=BIGINT}
      </if>
      <if test="authorId">
        and author_id = #{authorId}
      </if>
    </where>
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cms_comment
    where comment_id = #{commentId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cms_comment
    where comment_id = #{commentId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.flyapi.model.CmsComment">
    insert into cms_comment (comment_id, target_id, user_id, 
      like_num, target_type, create_time, 
      is_delete, content)
    values (#{commentId,jdbcType=BIGINT}, #{targetId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{likeNum,jdbcType=INTEGER}, #{targetType,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{isDelete,jdbcType=TINYINT}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.flyapi.model.CmsComment">
    insert into cms_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        comment_id,
      </if>
      <if test="authorId != null">
        author_id,
      </if>
      <if test="targetId != null">
        target_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="likeNum != null">
        like_num,
      </if>
      <if test="targetType != null">
        target_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        #{commentId,jdbcType=BIGINT},
      </if>
      <if test="authorId != null">
        #{authorId,jdbcType=BIGINT},
      </if>
      <if test="targetId != null">
        #{targetId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="likeNum != null">
        #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="targetType != null">
        #{targetType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.flyapi.model.CmsComment">
    update cms_comment
    <set>
      <if test="targetId != null">
        target_id = #{targetId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="likeNum != null">
        like_num = #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="targetType != null">
        target_type = #{targetType,jdbcType=TINYINT},
      </if>
      <if test="isRead != null">
        is_read = #{isRead,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where comment_id = #{commentId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.flyapi.model.CmsComment">
    update cms_comment
    set target_id = #{targetId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      like_num = #{likeNum,jdbcType=INTEGER},
      target_type = #{targetType,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=TINYINT},
      content = #{content,jdbcType=LONGVARCHAR}
    where comment_id = #{commentId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flyapi.model.CmsComment">
    update cms_comment
    set target_id = #{targetId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      like_num = #{likeNum,jdbcType=INTEGER},
      target_type = #{targetType,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=TINYINT}
    where comment_id = #{commentId,jdbcType=BIGINT}
  </update>
</mapper>