<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flyapi.dao.CmsReplyMapper">
  <resultMap id="BaseResultMap" type="com.flyapi.model.CmsReply">
    <id column="reply_id" jdbcType="BIGINT" property="replyId" />
    <result column="comment_id" jdbcType="BIGINT" property="commentId" />
    <result column="re_reply_id" jdbcType="BIGINT" property="reReplyId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="from_user_id" jdbcType="BIGINT" property="fromUserId" />
    <result column="to_user_id" jdbcType="BIGINT" property="toUserId" />
    <result column="reply_type" jdbcType="TINYINT" property="replyType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    reply_id, comment_id, re_reply_id, content, from_user_id, to_user_id, reply_type, 
    create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cms_reply
    where reply_id = #{replyId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cms_reply
    where reply_id = #{replyId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.flyapi.model.CmsReply">
    insert into cms_reply (reply_id, comment_id, re_reply_id, 
      content, from_user_id, to_user_id, 
      reply_type, create_time)
    values (#{replyId,jdbcType=BIGINT}, #{commentId,jdbcType=BIGINT}, #{reReplyId,jdbcType=BIGINT}, 
      #{content,jdbcType=VARCHAR}, #{fromUserId,jdbcType=BIGINT}, #{toUserId,jdbcType=BIGINT}, 
      #{replyType,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.flyapi.model.CmsReply">
    insert into cms_reply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="replyId != null">
        reply_id,
      </if>
      <if test="commentId != null">
        comment_id,
      </if>
      <if test="reReplyId != null">
        re_reply_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="fromUserId != null">
        from_user_id,
      </if>
      <if test="toUserId != null">
        to_user_id,
      </if>
      <if test="replyType != null">
        reply_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="replyId != null">
        #{replyId,jdbcType=BIGINT},
      </if>
      <if test="commentId != null">
        #{commentId,jdbcType=BIGINT},
      </if>
      <if test="reReplyId != null">
        #{reReplyId,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="fromUserId != null">
        #{fromUserId,jdbcType=BIGINT},
      </if>
      <if test="toUserId != null">
        #{toUserId,jdbcType=BIGINT},
      </if>
      <if test="replyType != null">
        #{replyType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.flyapi.model.CmsReply">
    update cms_reply
    <set>
      <if test="commentId != null">
        comment_id = #{commentId,jdbcType=BIGINT},
      </if>
      <if test="reReplyId != null">
        re_reply_id = #{reReplyId,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="fromUserId != null">
        from_user_id = #{fromUserId,jdbcType=BIGINT},
      </if>
      <if test="toUserId != null">
        to_user_id = #{toUserId,jdbcType=BIGINT},
      </if>
      <if test="replyType != null">
        reply_type = #{replyType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where reply_id = #{replyId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flyapi.model.CmsReply">
    update cms_reply
    set comment_id = #{commentId,jdbcType=BIGINT},
      re_reply_id = #{reReplyId,jdbcType=BIGINT},
      content = #{content,jdbcType=VARCHAR},
      from_user_id = #{fromUserId,jdbcType=BIGINT},
      to_user_id = #{toUserId,jdbcType=BIGINT},
      reply_type = #{replyType,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where reply_id = #{replyId,jdbcType=BIGINT}
  </update>
</mapper>