<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flyapi.dao.CmsSubjectMapper">
  <resultMap id="BaseResultMap" type="com.flyapi.model.CmsSubject">
    <id column="subject_id" jdbcType="BIGINT" property="subjectId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="cover" jdbcType="VARCHAR" property="cover" />
    <result column="subject_title" jdbcType="VARCHAR" property="subjectTitle" />
    <result column="subject_des" jdbcType="VARCHAR" property="subjectDes" />
    <result column="permissions" jdbcType="TINYINT" property="permissions" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    subject_id,user_id,cover, subject_title, subject_des, permissions, create_time, is_delete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cms_subject
    where subject_id = #{subjectId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cms_subject
    where subject_id = #{subjectId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.flyapi.model.CmsSubject">
    insert into cms_subject (subject_id, subject_title, subject_des, 
      permissions, create_time, is_delete
      )
    values (#{subjectId,jdbcType=BIGINT}, #{subjectTitle,jdbcType=VARCHAR}, #{subjectDes,jdbcType=VARCHAR}, 
      #{permissions,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.flyapi.model.CmsSubject">
    insert into cms_subject
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="subjectId != null">
        subject_id,
      </if>
      <if test="subjectTitle != null">
        subject_title,
      </if>
      <if test="subjectDes != null">
        subject_des,
      </if>
      <if test="permissions != null">
        permissions,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="subjectId != null">
        #{subjectId,jdbcType=BIGINT},
      </if>
      <if test="subjectTitle != null">
        #{subjectTitle,jdbcType=VARCHAR},
      </if>
      <if test="subjectDes != null">
        #{subjectDes,jdbcType=VARCHAR},
      </if>
      <if test="permissions != null">
        #{permissions,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.flyapi.model.CmsSubject">
    update cms_subject
    <set>
      <if test="subjectTitle != null">
        subject_title = #{subjectTitle,jdbcType=VARCHAR},
      </if>
      <if test="subjectDes != null">
        subject_des = #{subjectDes,jdbcType=VARCHAR},
      </if>
      <if test="permissions != null">
        permissions = #{permissions,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
    </set>
    where subject_id = #{subjectId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flyapi.model.CmsSubject">
    update cms_subject
    set subject_title = #{subjectTitle,jdbcType=VARCHAR},
      subject_des = #{subjectDes,jdbcType=VARCHAR},
      permissions = #{permissions,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=TINYINT}
    where subject_id = #{subjectId,jdbcType=BIGINT}
  </update>
  <select id="findSubjectList"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cms_subject
    where permissions = 0 AND is_delete = 0
  </select>

  <select id="findUserSubject" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cms_subject
    where user_id = #{userId,jdbcType=BIGINT}
    ORDER BY create_time DESC
  </select>

</mapper>