<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flyapi.dao.SettingStoreMapper">
  <resultMap id="BaseResultMap" type="com.flyapi.model.SettingStore">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="ak" jdbcType="VARCHAR" property="ak" />
    <result column="sk" jdbcType="VARCHAR" property="sk" />
    <result column="bucket" jdbcType="VARCHAR" property="bucket" />
    <result column="domain" jdbcType="VARCHAR" property="domain" />
    <result column="vip" jdbcType="TINYINT" property="vip" />
    <result column="store_type" jdbcType="VARCHAR" property="storeType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, ak, sk, bucket,domain,vip,store_type, create_time,update_time, is_delete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from setting_store
    where user_id = #{userId,jdbcType=BIGINT} and is_delete = 0
    limit 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from setting_store
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="com.flyapi.model.SettingStore">
    insert into setting_store
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="ak != null">
        ak,
      </if>
      <if test="sk != null">
        sk,
      </if>
      <if test="bucket != null">
        bucket,
      </if>
      <if test="domain != null">
        domain,
      </if>
      <if test="vip != null">
        vip,
      </if>
      <if test="storeType != null">
        store_type,
      </if>
        create_time,
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="ak != null">
        #{ak,jdbcType=VARCHAR},
      </if>
      <if test="sk != null">
        #{sk,jdbcType=VARCHAR},
      </if>
      <if test="bucket != null">
        #{bucket,jdbcType=VARCHAR},
      </if>
      <if test="domain != null">
        #{domain,jdbcType=VARCHAR},
      </if>
      <if test="vip != null">
        #{vip,jdbcType=TINYINT},
      </if>
      <if test="storeType != null">
        #{storeType,jdbcType=VARCHAR},
      </if>
      now(),
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.flyapi.model.SettingStore">
    update setting_store
    <set>
      <if test="ak != null">
        #{ak,jdbcType=VARCHAR},
      </if>
      <if test="sk != null">
        #{sk,jdbcType=VARCHAR},
      </if>
      <if test="bucket != null">
        #{bucket,jdbcType=VARCHAR},
      </if>
      <if test="domain != null">
        #{domain,jdbcType=VARCHAR},
      </if>
      <if test="storeType != null">
        #{storeType,jdbcType=VARCHAR},
      </if>
      now(),
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>