<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title data-vue-meta="true" th:text="${title}">小书内容</title>
    <link href="../../../static/css/timeline1.css" th:href="@{${rootPath} + '/static/css/timeline1.css'}" rel="stylesheet">
    <th:block th:include="common/link::link"></th:block>
</head>
<body>
<div class="header">
    <th:block th:include="common/header::header"></th:block>
</div>

    <div sign-v-3="" sign-v-2="">
        <main sign-v-3="" class="container main-container">
            <div sign-v-2="" sign-v-3="" class="book-info-view">
                <div sign-v-2="" sign-v-3="" class="book-box">
                    <div sign-v-2="" sign-v-3="" class="book-content">
                        <div sign-v-2="" sign-v-3="" class="book-content-head" th:text="${subject.subjectTitle}">小书内容</div>
                        <div sign-v-1="" sign-v-2=""
                             class="section-menu section-of-info book-conte-directory" sign-v-3="">


                            <th:block th:if="${not #lists.isEmpty(articleList)}">
                                <th:block th:each="article,index:${articleList}">

                                    <div sign-v-1="" class="section section-link" th:onclick="'javascript:divClick(\''+${article.articleId}+'\');'">
                                        <div sign-v-1="" class="step">
                                            <div sign-v-1="" class="step-btn" th:text="${index.index+1}">0</div>
                                        </div>
                                        <div sign-v-1="" class="center">
                                            <div sign-v-1="" class="title" th:text="${article.title}">如何使用掘金发布小册</div>
                                            <div sign-v-1="" class="sub-line">
                                                <div sign-v-1="" class="statistics">
                                                    <span sign-v-1="" class="duration" >
                                                        <i class="fa fa-eye fa-fw" title="阅读"></i>
                                                        <th:block th:text="${article.viewNum}"></th:block>
                                                    </span>
                                                    <span sign-v-1="" class="duration" >
                                                        <i class="fa fa-thumbs-o-up fa-fw" title="喜欢"></i>
                                                        <th:block th:text="${article.likeNum}"></th:block>
                                                    </span>
                                                    <span sign-v-1="" class="duration" >
                                                        <i class="fa fa-commenting fa-fw" title="评论"></i>
                                                        <th:block th:text="${article.commentNum}"></th:block>
                                                    </span>
                                                    <span sign-v-1="" class="duration" >
                                                        <i class="fa fa-clock-o fa-fw" title="时间"></i>
                                                        <th:block th:text="${#dates.format(article.createTime,'yyyy-MM-dd HH:mm:ss')}"></th:block>
                                                    </span>
                                                </div>
                                            </div>
                                            <div sign-v-1="" class="aside">
                                                <div sign-v-1="" class="lock">
                                                    <img sign-v-1="" src="lock.svg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </th:block>
                            </th:block>


                        </div>
                    </div>
                    <div sign-v-2="" sign-v-3="" class="book-section-view">
                        <div sign-v-2="" sign-v-3="" class="entry-content">

                            <fieldset class="layui-elem-field layui-field-title">
                                <legend>主题简介</legend>
                            </fieldset>
                            <p th:text="${subject.subjectDes}">介绍</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
<th:block th:replace="common/footer::footer"></th:block>

<script>
    function divClick(articleId) {
        location.href="http://www.iflyapi.cn:8090/article/detail/"+articleId;
    };
</script>
</body>
</html>