<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title data-vue-meta="true">如何写一本掘金小册 - 阴明 - 掘金小册</title>
    <link href="../../../static/css/timeline1.css" th:href="@{${rootPath} + '/static/css/timeline1.css'}" rel="stylesheet">
</head>
<body>
<div>
    <div sign-v-3="" sign-v-2="">
        <main sign-v-3="" class="container main-container">
            <div sign-v-2="" sign-v-3="" class="book-info-view">
                <div sign-v-2="" sign-v-3="" class="book-box">
                    <div sign-v-2="" sign-v-3="" class="book-content">
                        <div sign-v-2="" sign-v-3="" class="book-content-head">小册内容</div>
                        <div sign-v-1="" sign-v-2=""
                             class="section-menu section-of-info book-conte-directory" sign-v-3="">
                            <div sign-v-1="" class="section section-link">
                                <div sign-v-1="" class="step">
                                    <div sign-v-1="" class="step-btn">1</div>
                                </div>
                                <div sign-v-1="" class="center">
                                    <div sign-v-1="" class="title">什么是掘金小册</div>
                                    <div sign-v-1="" class="sub-line">
                                        <div sign-v-1="" class="to-read">试读</div><!---->
                                        <div sign-v-1="" class="statistics"><span sign-v-1=""
                                                                                         class="duration">时长: 4分</span><span
                                                sign-v-1="" class="readed">5308次学习</span><span sign-v-1=""
                                                                                                      class="comment">77条评论</span>
                                        </div>
                                    </div>
                                    <div sign-v-1="" class="aside"><!---->
                                        <div sign-v-1="" class="to-read--m">试读</div>
                                    </div>
                                </div>

                            </div>
                            <div sign-v-1="" class="section">
                                <div sign-v-1="" class="step">
                                    <div sign-v-1="" class="step-btn">2</div>
                                </div>
                                <div sign-v-1="" class="center">
                                    <div sign-v-1="" class="title">如何使用掘金发布小册</div>
                                    <div sign-v-1="" class="sub-line"><!----><!---->
                                        <div sign-v-1="" class="statistics"><span sign-v-1=""
                                                                                         class="duration">时长: 2分</span><span
                                                sign-v-1="" class="readed">1887次学习</span><span sign-v-1=""
                                                                                                      class="comment">8条评论</span>
                                        </div>
                                    </div>
                                    <div sign-v-1="" class="aside">
                                        <div sign-v-1="" class="lock"><img sign-v-1=""
                                                                                  src="lock.svg">
                                        </div><!----></div>
                                </div>
                            </div>


                            <th:block th:if="${not #lists.isEmpty(articleList)}">
                                <th:block th:each="article,index:${articleList}">

                                    <div sign-v-1="" class="section">
                                        <div sign-v-1="" class="step">
                                            <div sign-v-1="" class="step-btn" th:text="${index.index}">0</div>
                                        </div>
                                        <div sign-v-1="" class="center">
                                            <div sign-v-1="" class="title" th:text="${article.title}">如何使用掘金发布小册</div>
                                            <div sign-v-1="" class="sub-line">
                                                <div sign-v-1="" class="statistics">
                                                    <span sign-v-1="" class="duration">时长: 2分</span>
                                                    <span sign-v-1="" class="readed">1887次学习</span>
                                                    <span sign-v-1="" class="comment">8条评论</span>
                                                </div>
                                            </div>
                                            <div sign-v-1="" class="aside">
                                                <div sign-v-1="" class="lock">
                                                    <img sign-v-1="" src="lock.svg">
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </th:block>
                            </th:block>


                        </div>
                    </div>
                    <div sign-v-2="" sign-v-3="" class="book-section-view">
                        <div sign-v-2="" sign-v-3="" class="entry-content">
                            markdown小书介绍
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

</body>
</html>