<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>演示：HTML5+CSS3实现的响应式垂直时间轴</title>

<link rel="stylesheet" href="../../../static/css/timeline.css" th:href="@{${rootPath} + '/static/css/timeline.css'}"/>
<th:block th:include="common/link::link"></th:block>
</head>

<body>

<section id="cd-timeline" class="cd-container">
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
			<h2>3</h2>
			<!--<img src="img/cd-icon-movie.svg" alt="Movie">-->
		</div>

		<div class="cd-timeline-content">
			<h2>jQuery+PHP动态数字展示效果</h2>
			<p>我们在一些应用中需要动态展示数据，比如当前在线人数，当前交易总额，当前汇率等等，前端页面需要实时刷新获取最新数据。本文将结合实例给大家介绍使用jQuery和PHP来实现动态数字展示效果。</p>
			<a href="#" class="cd-read-more" target="_blank">阅读全文</a>
			<span class="cd-date">2014-12-25</span>
		</div>
	</div>
	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
			<img src="img/cd-icon-picture.svg" alt="Picture">
		</div>

		<div class="cd-timeline-content">
			<h2><a href="#">PHP操作Session和Cookie</a></h2>
			<p>我们跟踪用户信息时需要用到Session和Cookie，比如用户登录验证、记录用户浏览历史，存储购物车数据，限制用户会话有效时间等。今天我们来了解下PHP是如何操作Session和Cookie的。</p>
			<a href="#" class="cd-read-more" target="_blank">阅读全文</a>
			<span class="cd-date">2014-12-20</span>
		</div>
	</div>

	<th:block th:if="${not #lists.isEmpty(articleList)}">
		<th:block th:each="article,index:${articleList}">
<!--			<li class="layui-timeline-item">
				<i class="layui-icon layui-timeline-axis">&#xe63f;</i>
				<div class="layui-timeline-content layui-text">
					<h3 class="layui-timeline-title" th:text="${article.title}">Spring aop的使用方法</h3>
					<p th:text="${article.articleDes}">
						layui 2.0 的一切准备工作似乎都已到位。发布之弦，一触即发。
					</p>
					<span class="layui-badge layui-bg-gray" th:text="${#dates.format(article.createTime, 'yyyy年MM月dd日 HH:mm:ss')}">2017-06-22 14:30:49</span>
				</div>
			</li>-->
			<div class="cd-timeline-block">
				<div class="cd-timeline-img cd-picture">
					<img src="//upload-images.jianshu.io/upload_images/2263276-65f149645b408224?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300" alt="Picture">
				</div>

				<div class="cd-timeline-content">
					<h2 th:text="${article.title}">PHP操作Session和Cookie</h2>
					<p th:text="${article.articleDes}">我们跟踪用户信息时需要用到Session和Cookie，比如用户登录验证、记录用户浏览历史，存储购物车数据，限制用户会话有效时间等。今天我们来了解下PHP是如何操作Session和Cookie的。</p>
					<!--<a href="#" class="cd-read-more" target="_blank">阅读全文</a>-->
					<span class="cd-date" th:text="${#dates.format(article.createTime, 'yyyy年MM月dd日 HH:mm:ss')}">2014-12-20</span>
				</div>
			</div>


		</th:block>
	</th:block>
</section>

</body>
</html>