<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>flyapi首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <th:block th:include="common/link::link"></th:block>
</head>

<body>

<div class="header">
    <th:block th:include="common/header::header"></th:block>
</div>

<div class="main layui-clear">
    <div class="wrap">
        <div class="content">
            <div class="fly-tab fly-tab-index">
						<span>
						  <a href="javascript:void(0)" onclick="homeFn()">首页推荐</a>
						  <a href="javascript:void(0)" onclick="topicFn()">今日段子</a>
						</span>
                <form action="#" class="fly-search">
                    <i class="iconfont icon-sousuo"></i>
                    <input class="layui-input" autocomplete="off" placeholder="搜索内容，回车跳转" type="text" name="q">
                </form>
                <a href="../user/go?html=article/add.html" target="_blank" class="layui-btn jie-add">发布文章</a>
            </div>

            <div class="layui-carousel" id="carousel-index">
                <div carousel-item=""  id="cal-list">
<!--                <div><img src="../res/images/slider-1.jpg" th:src="@{${rootPath} + '/res/images/slider-1.jpg'}"/></div>  -->
                </div>
            </div>
            <ul class="fly-list" id="article-list">
                <li class="note-list">
  <!--                  <a class="des-img" href="/p/eb1a0e235e49" target="_blank">
                        <img src="//upload-images.jianshu.io/upload_images/2263276-65f149645b408224?imageMogr2/auto-orient/strip|imageView2/1/w/375/h/300"
                             alt="300">
                    </a>-->
                    <div>
                        <div class="author">
                            <a class="avatar" target="_blank" href="/u/c3d9abd7063b">
                                <img src="http://www.iflyapi.cn:8080/res/images/avatar/default.png" alt="96">
                            </a>
                            <div class="name">
                                <a class="blue-link" target="_blank" href="/u/c3d9abd7063b">flyhero</a>
                                <span class="time" data-shared-at="2017-04-05T09:53:58+08:00">&nbsp;5 小时前</span>
                            </div>
                        </div>
                        <h2 class="fly-tip">
                            <a target="_blank" href="/p/eb1a0e235e49">大话设计模式之工厂模式</a>
                        </h2>

                        <p class="abstract">
                            他不是别人 他是张国荣 14年前的今天，一颗巨星陨落。他不是别人 他是张国荣 14年前的今天，一颗巨星陨落。他不是别人 他是张国荣 14年前的今天，一颗巨星陨落。他不是别人 他是张国荣
                            14年前的今天，一颗巨星陨落。
                        </p>
                        <div class="meta">
                            <a class="collection-tag" target="_blank" href="/c/qQB2Zn">Spring源码分析和实践之详细解析</a>
                            <a target="_blank" href="/p/eb1a0e235e49">
                                <i class="fa fa-eye fa-fw" title="阅读"></i> 271
                            </a>
                            <a target="_blank" href="/p/eb1a0e235e49#comments">
                                <i class="fa fa-commenting fa-fw" title="回答"></i> 8
                            </a> <span><i class="fa fa-thumbs-o-up fa-fw" title="人气"></i> 106</span>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>

    <div class="edge">
        <div class="fly-panel leifeng-rank">
            <h3 class="fly-panel-title">今日名人榜- TOP 12</h3>
            <dl>
                <dd>
                    <a href="user/home.html">
                        <img src="../res/images/avatar/default.png">
                        <cite>纸飞机</cite>
                        <i>159次回答</i>
                    </a>
                </dd>
                <dd>
                    <a href="user/home.html">
                        <img src="../res/images/avatar/default.png">
                        <cite>纸飞机</cite>
                        <i>159次回答</i>
                    </a>
                </dd>


            </dl>
        </div>

        <dl class="fly-panel fly-list-one" id="hot-article">
            <dt class="fly-panel-title">今日热门</dt>
<!--            <dd>
                <span class="layui-badge layui-bg-orange">1</span>
                <a href="#">使用 layui 秒搭后台大布局（基本结构）</a>
                &lt;!&ndash;<span><i class="fa fa-eye fa-fw"></i> 6087</span>&ndash;&gt;
            </dd>-->
        </dl>

        <dl class="fly-panel fly-list-one" id="last-update">
            <dt class="fly-panel-title">最近更新</dt>
<!--            <dd>
                <a href="jie/detail.html">使用 layui 秒搭后台大布局之基本结构</a>
            </dd>-->
        </dl>

        <div class="fly-panel fly-link">
            <h3 class="fly-panel-title">友情链接</h3>
            <dl>
                <dd>
                    <a href="#" target="_blank">fly****</a>
                </dd>
            </dl>
        </div>

    </div>
</div>

<script src="../static/layui/layui.js" th:src="@{${rootPath} + '/static/layui/layui.js'}"></script>
<script src="../../static/js/date-util.js" th:src="@{${rootPath} + '/static/js/date-util.js'}"></script>


<script>

    $("a").removeClass("nav-this");
    $("#home").addClass("nav-this")

    $.getJSON("../setting/carousel", {}, function (result) {
        $.each(result.data, function (index, carousel) {
            $("#cal-list").append('<div><a href="index.html" ><img src="'+carousel.imgUrl+'" title="'+carousel.title+'"/></a></div>');
        });
    });
    $.ajax({
        type: 'POST',
        url: "../article/findLastUpdateOrHotArticles",
        dataType: "json",
        data: {"type": 1},
        success: function (result) {
            $.each(result.data, function (index, last) {
                $("#last-update").append('<dd><a href="/article/detail.html/' + last.articleId + '">' + last.title + '</a><span><i class="fa fa-clock-o fa-fw"></i> ' + timeAgo(getMyDate(last.createTime)) + '</span></dd>');
            });
        }
    });
    $.getJSON("../article/findLastUpdateOrHotArticles", {"type": 2}, function (result) {
        $.each(result.data, function (index, hot) {
            $("#hot-article").append('<dd><span class="fly-badge fly-badge-'+index+'">'+index+'</span><a href="/article/detail.html/' + hot.articleId + '">' + hot.title + '</a><span><i class="fa fa-eye fa-fw"></i> ' + hot.viewNum + '</span></dd>');
        });
    });

</script>
<script th:inline="javascript">

    function likeFn() {
        getData(1,0,0);
        $("a").removeClass("tab-this")
        $("#like").addClass("tab-this");
    };

    layui.use('flow', function () {
        var flow = layui.flow;
        var pageCount;
        var rootPath = [[${rootPath}]];
        flow.load({
            elem: '#article-list', //流加载容器
            scrollElem: '#article-list', //滚动条所在元素，一般不用填，此处只是演示需要。
            isAuto: false,
            isLazyimg: true,
            done: function (page, next) { //加载下一页

                //模拟插入
                setTimeout(function () {
                    var lis = [];
                    $.ajax({
                        type: 'POST',
                        url: "../article/findArticleList",
                        dataType: "json",
                        data: {
                            "pageNum": page,
                            "pageSize": 6
                        },
                        success: function (result) {
                            pageCount = result.data.pages;
                            $.each(result.data.list, function (index, simple) {
                                lis.push('<li class="note-list">' +
                                    '<a class="des-img" href="#" target="_blank">' +
                                    '<img src="' + simple.cover + '" alt="300">' +
                                    '</a>' +
                                    '<div><div class="author">' +
                                    '<a class="avatar" target="_blank" href="#">' +
                                    '<img src="'+rootPath+simple.avatar+'">' +
                                    '</a><div class="name">' +
                                    '<a class="blue-link" target="_blank" href="#">' + simple.nickName + '</a>' +
                                    '<span class="time" data-shared-at="2017-04-05T09:53:58+08:00">&nbsp;&nbsp;&nbsp;' + timeAgo(getMyDate(simple.createTime)) + '</span></div></div>' +
                                    '<h2 class="fly-tip"><a target="_blank" href="../article/detail/' + simple.articleId + '">' + simple.title + '</a></h2>' +
                                    '<p class="abstract">' + simple.articleDes + '</p>' +
                                    '<div class="meta"><a class="collection-tag" target="_blank" href="/c/qQB2Zn">' + simple.subjectTitle + '</a>' +
                                    '<span><i class="fa fa-eye fa-fw" title="阅读"></i> ' + simple.viewNum + '</span>' +
                                    '<a target="_blank" href="#"><i class="fa fa-commenting fa-fw" title="回答"></i>' + simple.commentNum + '</a> ' +
                                    '<span><i class="fa fa-thumbs-o-up fa-fw" title="人气"></i> ' + simple.likeNum + '</span></div></div></li>');
                                //alert("qian"+lis)
                                next(lis.join(''), page < pageCount);
                                lis = [];
                            });
                        }
                    });
                    // next(lis.join(''), page < pageCount); //假设总页数为 6
                }, 500);
            }
        });
    });

    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#carousel-index',
            width: '100%', //设置容器宽度
            height: '260px',
            arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式
        });

    });
</script>
</body>

</html>