
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>提示页面</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <th:block th:include="common/link::link"></th:block>
</head>
<body>

<div class="main">
  <div class="fly-panel">
    <div class="fly-none">
      <h2><i class="iconfont icon-tishilian"></i></h2>
      <p>wang</p>
    </div>
  </div>
</div>

<th:block th:replace="common/footer::footer"></th:block>
</body>
</html>