<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>分页 - layui</title>

<link rel="stylesheet" href="../../../static/layui/css/layui.css">

<style>
body{padding: 10px;}
</style>
</head>
<body>

显示完整功能：<div id="demo7"></div>


<script src="../../../static/layui/layui.js"></script>
<script>

layui.use(['laypage', 'layer'], function(){
  var laypage = layui.laypage
  ,layer = layui.layer;


  
  //完整功能
  laypage.render({
    elem: 'demo7'
    ,count: 100
    //,groups: 0
    ,layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
    ,jump: function(obj){
      console.log(obj)
    }
  });


  
});
</script>
</body>
</html>
