/* CSS Resets */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0;}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block;}a img{border:0}figure{position:relative}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}
.wrapper{
	padding:5px;

}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#jianxun{
	cursor: pointer;
}
pre {
    background-color: #f5f5f5;
    color: #333;
    display: block;
    line-height: 1.42857;
    margin: 0 0 20px;
    word-break: break-all;
    word-wrap: break-word;
	padding: 1.5em;
    border-radius: 0;
    font-size: 14px;
}
/*  Layout Styles */
.pt10{
    padding-top:10px;
}
.mgt10{
    margin-top:10px;
}
.mgt20{
    margin-top:20px;
}
.mgb20{
    margin-bottom:20px;
}
.mgt40{
    margin-top:40px;
}
.mgb40{
    margin-bottom:40px;
}
.mgt60{
    margin-top:60px;
}
.mgb60{
    margin-bottom:60px;
}
.mgr10{
    margin-right:10px;
}
.mgr20{
    margin-right:20px;
}
.mgr30{
    margin-right:30px;
}

.bgf{
    background-color:#ffffff;
}

/*  General CSS Styles */

	html {
		font-size:62.5%;
	}

	body {
		margin:0;
		-webkit-font-smoothing: antialiased;
		color: #000;
		background: #f6f6f6;
        font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
	}

	input, textarea, select, button {
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
	}

	input, select, th, td, textarea, button {font-size:1em}

	input, textarea, select, button {
		outline:none;
	}

	button:hover {
		cursor:pointer;
	}


	object, embed {
	max-width: 100%;
	}

	img {
		height: auto;
	}

	ul ,li{
		text-decoration:none;
		list-style:none;

	}

	.logo a {
		width:258px;
		height:39px;
		display:block;
	}

	a {
		color:#333;
		text-decoration:none;
		-o-transition-duration: .2s;
		-o-transition-property: opacity;
		-webkit-transition-duration: .2s;
		-webkit-transition-property: opacity;
	}

	a:hover {
		color:#e9461a;
	}

	.main{
		background: #fff;
	}

	input[type="submit"] {
		cursor:pointer;
	}

	/* �ؼ� */

	.avatar-60{
		border-radius: 50%;
	    width: 60px;
	    height: 60px;
	}

 	.avatar-100{
	    width: 100px;
	    height: 100px;
	}

	.tab {
		padding:10px 20px 10px 10px;
		font-weight:bold;
		display:block;
		font-size:14px;
		font-family: "Microsoft Yahei", Courier, monospace;
		border:solid #EFEFEF 1px;
		background-color:#FFFFFF;
	}



	/* Boxes / Modules */


	.co_member-box {
		background:#fff;
		margin-bottom:10px;
	}
	.co_member-box .co_member-heading{
		padding:2px 15px 2px 15px;
	}
	.co_member-box .co_member-title{
		font-size: 14px;
		height: 40px;
		line-height: 40px;
	}
   .co_member-box  .divider{
		height:5px;
    }
    .co_member-body{
    	padding-left: 13px;
    }
	#floatbox{

	}
	.article {
		background:#fff;
		margin:0px;
		border:1px solid #efefef;
		border-bottom:0px;
		margin-bottom:20px;
	}







	.previous-next-links {
		overflow:hidden;
		padding:10px 30px 10px 30px;
		background:#fbfbfb;
		border-top:1px solid #efefef;
		border-bottom:1px solid #efefef;
		color:#ccc;
	}

	.previous-next-links a {
		color:#808080;
	}

	.previous-design-link {
		float:left;
	}

	.next-design-link {
		float:right;
	}

	.pageActive{
		width: 35rem;
   	 	display: block;
    	margin: 0 auto 1rem;
	}

	.pageActive  .pageActive-item{
		width: 33%;
		color: #abb8c2;
        text-decoration:none;
        text-align: center;
        float: left;
	}
	.pageActive  span{
    	display: block;
	}

	/* Homepage Archive List */


	.author-archive-profileimage {
		float:right;
		margin:0 0 20px 20px;
	}

	.author-archive-intro h2 {
		margin:0 0 10px 0;
	}

	.article-body .author-social-links li {
		height:30px;
		padding:10px 0 0 40px;
		margin:0 0 0px 0;
	}

	.author-social-links li.twitter {
		background-image:url('../images/social/twitter.png');
	}

	.author-social-links li.dribbble {
		background-image:url('../images/social/dribbble.png');
	}

	.author-social-links li.fivehundredpx {
		background-image:url('../images/social/500px.png');
	}


	.author-social-links li.googleplus {
		background-image:url('../images/social/googleplus.png');
	}

	.left-column .gallery-list .design img {
		margin-bottom:10px;
	}


	/* Article Archive Page */


	.image-layout-style {
		background:none;
	}


	.archive-list .archive-list-item img {
		float:left;
		margin:0 20px 10px 0px;
		width:90%;
	}

	.home-latest-articles .archive-list-item img {
		float:right !important;
		margin:0 0 10px 20px;
		width:35%;
	}



	.image-alternative {
		background-color:#e9e9e9;
		float:left;
		width:17%;
		text-align:center;
		font-size:1.2em;
		padding:10% 5% 10% 5%;
		display:block;
		color:#fff;
		text-indent:-9999px;
		background-image:url('../images/article-preview-bg@2x.png');
		background-position:center center;
		background-repeat: no-repeat;
		background-size:32px 32px;
	}









/* ��Ŀ*/


/* Layout Style */



.gallery-layout-toggle {
	margin-top:24px;
}

.total{

	height: 160px;
	text-align: center;
	color: #64c077;
	font-size: 28px;
	font-weight: 800;
	line-height: 160px;
}

/* Table */

.sidebar-box table {
	width:100%;
	margin-top:10px;
}

.sidebar-box td, .sidebar-box td.key {
	padding:5px 20px 5px 0px;
	vertical-align: middle;
	font-size:1em;
	color:#808080;
}

.sidebar-box td.key {
	color:#000;
}


.sidebar-box tr {
	border-bottom:1px solid #efefef;
	display:block;
}

.sidebar-box table td:nth-child(odd) {
	width:30px;
}

.sidebar-box td.step {
	width:40px !important;
}



/* Page Numbers */

#wp_page_numbers {
	overflow:hidden;
}

#wp_page_numbers ul {
	margin:0;
	padding:0 0 20px 0;
	width:auto;
}

#wp_page_numbers li {
	display: block;
	float: left;
	text-align: center;
}

#wp_page_numbers li a {
	background-color: #fbfbfb;
	text-decoration: none;
	padding:3px 8px 3px 8px;
	display: block;
	float: left;
	margin: 0 5px 5px 0;
	text-align: center;
	border:1px solid #fbfbfb;
	color:#acacac;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#wp_page_numbers li {
	color:#acacac;
}

#wp_page_numbers li a:hover {
	border:1px solid #dedede;
}

#wp_page_numbers .active_page a {
	opacity:0.7;
	color: #808080;
	text-shadow: 0 1px 0 rgba(255,255,255,.15);
	border: 1px solid rgba(0,0,0,.2);
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #f2f2f2;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMTclIiB4Mj0iNTAlIiB5Mj0iLTE3JSI+CjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAiIHN0b3Atb3BhY2l0eT0iMC4wNSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmYiIHN0b3Atb3BhY2l0eT0iMC4wNSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.05) -17%, rgba(255,255,255,.05) 117%);
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.05) -17%, rgba(255,255,255,.05) 117%);
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.05) -17%, rgba(255,255,255,.05) 117%);
	background-image: linear-gradient(bottom, rgba(0,0,0,.05) -17%, rgba(255,255,255,.05) 117%);
}

#wp_page_numbers .active_page a:hover {
	border: 1px solid rgba(0,0,0,.2);
}

#wp_page_numbers .page_info {
	width:auto;
	padding:2px 6px 2px 6px;
}

#wp_page_numbers .space {
	background-color: #fbfbfb;
	text-decoration: none;
	padding:3px 8px 3px 8px;
	display: block;
	float: left;
	margin: 0 5px 5px 0;
	text-align: center;
	border:1px solid #fbfbfb;
	color:#acacac;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}


.sidearticle_c {
	list-style-type:circle !important;
	padding:0;
}

.sidearticle_c li {
	color:#666;
    line-height: 18px;
    padding: 5px 0 5px 0px;
}
.sidearticle_c li a{
	color:#333;
}

/* Footer */

.footer p, .footer a {
	margin:0px 0 10px 0;
}

.footer a {
	color:#888;
}
.footer {
	background:#222;
	padding-top:20px;
	padding-bottom:20px;
	margin-top:20px;
	-moz-box-shadow: 0px -1px 1px #ececec;
	box-shadow:  0px -1px 1px #ececec;
	color:#888;
}
.footer-nav li{
    margin-left:10px;
	float:left;
}
/*ͷ��*/

.header{background:#222;  width:100%; }

.header a:hover{ text-decoration: none; }


.headercon .logo-t{width: 230px;height: 60px; line-height:60px; display: block;float: left; font-size: 16px;color:#b8c4ce;}
.headercon .logo-t i{ font-size: 60px; color: #fff; margin-left: 16px;}


.headercon .nav-ul{float:left;}
.headercon .nav-ul li{float:left; width:70px;}
.headercon .nav-ul li a{color:#b8c4ce; font-size:16px; display:block;line-height:60px;text-align:center;}
.headercon .nav-ul li a:hover{background:#333; transition:all 0.3s;}
.headercon .nav-ul li .on{background:#333;}
.headercon .nav-ul li i.icon-new{position: absolute; right: 0; top: 20px; font-size: 14px; color: #E07527; background-color: #fff; width: 8px; text-indent: -3px; height: 8px; line-height: 8px; }


.right_login{float:left;margin-left:20px;}
.right_login a{ margin-top: 15px; color:#fff;float: left; font-size: 14px; color: #b8c4ce; border-radius: 3px; display: block; min-width: 50px; height:30px; line-height: 30px; text-align: center;}
.right_login a:hover{ background-color:#333; transition:all 0.2s;}


.header1 .nav-ul  li.code-cat{
	width: 200px;
	text-align: center;

}
.nav-ul li.onx{background-color:#333;}
.nav-ul li.onx .subnav-menu{display:block;}
.nav-ul li .subnav-menu{ height:0px; display:none; position: absolute; top: 60px; z-index:100; right:0; left: 0;width:150px; }
.nav-ul li .subnav-menu div{float:left;background: #314559;opacity:0.95;filter:alpha(opacity=95);-moz-opacity:0.95;-khtml-opacity:0.95; }
.nav-ul li .subnav-menu p { height: 47px;border-bottom: #34495E solid 1px;}
.nav-ul li .subnav-menu p a {text-align: left; font-size: 14px; display: block;height: 47px;line-height:47px;padding:0 16px;  }
.nav-ul li .subnav-menu p a:hover{background-color:#2c3e50;transition: background 0.2s ease-out;}


.header_right{float:right;}
.header_right .on {background-color: #34495e !important;transition: background 0.2s ease-out;}


.search_cont{width:90px;position:relative;height:30px;background:#111;border-radius:20px;}
.search_cont .in_search{font-size:12px;width:80%;outline:none;background:none;height:30px;float:left;border:0;color:#666;padding-left:20%;position:absolute; z-index:1; box-shadow: none; }
.search_cont .icon-search{font-size:13px;display:block;height:30px; color:#666; width:30px;line-height:30px;text-align:center;position:absolute;top:0;right:5px;z-index:0;}
.search_start{height:30px;float:left;padding:15px 0;}
.search_start .in_submit{display:none;}
.search_start .ser .in_search{font-size:14px;color:#2c3e50;padding-left:20px;width:150px;}
.search_start .ser{background:#fff;}
.search_start .ser .icon-search{ cursor:pointer;}
.search_start .ser .in_submit{border:0;display:block;width:30px;height:30px;position:absolute;right:0;right: 5px;z-index:5; opacity:0;background:none; cursor:pointer;}


 .lg_app{
	float:left;
	padding: 0px 12px 0 27px;
	height: 30px;
	margin-top: 20px;
	color:#08d7a2;
    line-height: 15px;
    background: url(https://static.lagou.com/www/static/common/widgets/header_c/modules/img/app_icon_0495d1d.png) 10px 0 no-repeat;
 }
 .lg_app:hover{
	color:#08d7a2;
 }

#navMenu {
    background: none repeat scroll 0 0 #96B97D;
    clear: both;
    float: none !important;
    margin: 0 !important;
}

#nav {
    background: none repeat scroll 0 0 #96B97D;
    font-size: 14px;
    line-height: 14px;
    list-style: none outside none;
}
#nav:after{

}

#nav li {
    float: left;
}

#nav li:hover {

}

#nav li a{
	float:left;
	color: #FFFFFF;
	height:43px;
	cursor:pointer;
	display:block;
	padding: 9px 2px 4px;
}
#nav a span{
	float:left;
	padding:6px 20px 0 9px;
	height:23px;
	font-family:"Microsoft Yahei";
	font-size:15px;
}
#nav li a:hover {
	background:#8DAD66;
	border:solid 1px #C1EA8D;
	padding: 8px 1px 4px;
	border-bottom:none;


}
#nav .active a span, #nav li:hover a span, #nav a:hover span {
}
.drop li a:hover{
	color:#FFF;


}
.drop li a{
	color:#FFF;

	font-size:13px;
	font-family:"Microsoft Yahei";

}

.drop li {
    min-width: 100px;
    padding: 7px  3px 7px 13px !important;
	line-height:20px;
	cursor:pointer;
	text-decoration:none;
	list-style:none;
}

.drop {
    background-color: #8DAD66;
	top: 0;
	visibility: hidden;
 	width: 150px;
    position: absolute;
    z-index: 100;
	margin-top: -1px;
	border:solid 1px #C1EA8D;
	border-top:none;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
}


#nav ul{
	overflow:hidden;
	padding:0;
	margin:0;
	list-style:none;
}
#nav ul li {

}

#nav li:hover ul a, #nav ul a {
    background: none repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    height: auto;
    width: 100px;
}

#nav ul a:hover{
	color:#222 !important;
	background:none;
	text-decoration:none;
}
	.search {
		text-align:right;
		float:right;
	}

	.search form {
		background: none repeat scroll 0 0 #EEEFED;
		border-radius: 3px 3px 3px 3px;
		margin: 5px 0 0;
		padding: 5px;
		text-align: left;
	}

	.search .placeholder {
		height:35px;
		line-height:35px;
		width:65%;
		padding:0 3% 0 3%;
		background-color:#fff;
		border:1px solid #c8c8c8;
		border-radius:3px;
		color:#ccc;
		font-weight:normal;
		font-size:1.2em;
		float:left;
	}

	.search-form .btn_search_lable{
		width:20%;
	    height:36px;
		padding:0 3% 0 3%;
		background-color:#fff;
		border:1px solid #c8c8c8;
		border-radius:3px;
		border:1px solid #c8c8c8;
		color: #008000;
		font-weight:normal;
		font-size:1.2em;
		display:block;
		float:right;
		cursor:pointer;

	}
	.search-form .btn-search{

	    height:36px;

		background-color:#fff;
		border:none;
		width:100%;
		color: #008000;
		font-weight:normal;
		font-size:1.2em;

	}

/*---------- ���� ---------*/
.arc_position{
    font-size: 14px;
    color: #aaa;
    width: 100%;
    padding: .25em 0px .35em 0px;
    margin: 10px 0px 20px 0px;
}
.arc_position a{

}
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: ".";
	clear: both;
	height: 0;
}
.articlecon h1.title {
    font-size: 18px;
    padding: 5px 0 5px;
    text-align: center;
}
.articlecon h1 a:link, .articlecon h1 a:visited {
    text-decoration: none;
}
.articlecon h1 a:hover {
    text-decoration: underline;
}

.articlecon  .subinfo{
    color: #aeaeae;
    font-size: 13px;
    line-height: 24px;
    padding: 5px 0 5px 0;
    text-align: right;
	zoom:1;
	text-align:center;
}
.articlecon  .subinfo span{
	margin-right: 3px;
}
.articlecon  .subinfo a{
    color: #aeaeae;
}
.articlecon  .subinfo .authorface{
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
.articlecon  .subinfo .tags{
	margin-left:8px;
	color:#869742;
}


blockquote {
    border-left: 4px solid #999;
    font-size: 14px;
    padding: 10px 15px;
    background: #F5F5F5;
    margin: 0 0 22px 0;
}

blockquote p{
	margin: 0 0 0 0 !important;
}

.articlecon .arc_body {
    padding-bottom: 9px;
    padding-top: 0;
    margin-top:8px;
    line-height: 2;
    color: #333;
    font-size:16px;
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}

.articlecon .arc_body table {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	border-width: 1px;
	border-color: #333;
	border-collapse: collapse;
	margin-bottom: 20px;
	max-width:100%;
}
.articlecon .arc_body table th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #333;
	background-color: #dedede;
}
.articlecon .arc_body table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #333;
	background-color: #ffffff;
}
.articlecon .arc_body img{
	max-width: 100% ;
	display: block;
}

.articlecon .arc_body p{
   line-height: 1.7;
   margin: 0 0 25px 0;

}

.articlecon .arc_body  ul , .articlecon .arc_body  ol {
	margin: 0 0 10px 25px;
}

.articlecon .arc_body  ul li{
	list-style-type:disc;
}

.articlecon .arc_body  ol li{
	list-style-type:decimal;
}
.articlecon .arc_body   li p{
   margin: 0 0 0 0;
}
.articlecon .arc_body  h1, .articlecon .arc_body  h2, .articlecon .arc_body  h3, .articlecon .arc_body  h4, .articlecon .arc_body  h5, .articlecon .arc_body  h6{
    margin: 0 0 15px;
    font-weight: 700;
    color: #2f2f2f;
    line-height: 1.7;
    text-rendering: optimizelegibility;
}

.articlecon .arc_body  h1{
	font-size:20px
}
.articlecon .arc_body  h2 {
	font-size: 19px;
}
.articlecon .arc_body h3 {
    font-size: 18px;
}
.articlecon .arc_body h4 {
    font-size: 17px;
}
.articlecon .arc_body h5 {
	font-size:17px
}
.articlecon .arc_body h6 {
	font-size:16px
}

.articlecon .arc_body a{
   color:#0F9932;
}
.articlecon .arc_body a:hover{
   color:#b30000;
}
/*----------  ��Ϣ�� ���� ---------*/
.sub-title {
    margin: 15px 0px 15px 0px;
    color: #000;
    font-family: -apple-system,PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,Helvetica Neue,sans-serif;
    font-size: 16px;
}
/*---------- �û��ղ��б� ---------*/
.users-list {
    padding: 0;
    margin-top: 10px;
}
.users-list-item {
    padding: 0;
    margin: 5px 5px;
    cursor: pointer;
    float: left;
}
.users-list-item .avatar {
    width: 48px;
    height: 48px;
    margin-right: 0;
}

/*---------- ǰһƪ��һƪ---------*/
.pre_next{

}
.pre_next a{
	font-size:15px;
	font-weight: bold;
}
.pre_next div{
	margin-top:3px;
	margin-bottom:8px;
	color: #444;
	word-break:break-all;
}

.related_arc li {
	color:#3e3e3e;
	font-weight:normal;
	line-height:30px;
	overflow:hidden;
}
.pic_arc{
    margin-top:20px;
}
.related_arc .pic_arc_item{
    float:left;
	width:45%;
}
.related_arc .pic_arc_item:nth-child(even){
    float:right;
}
.related_arc .pic_arc  img{
    width:150px;
    height:116px;
	margin-right:10px;
	float:left;
}
.related_arc .pic_arc  .a_info{
	color:#555;
	font-size:14px;
	margin-left:10px;
}
.related_arc .pic_arc  .a_info a{
	font-size:15px;
	font-family:"Microsoft Yahei";
	font-weight:800;
	margin-right:5px;
}


.boxaside {
    border:solid #F2F2F2 1px;
	margin-top:5px;

}
.boxaside.top {
    border:solid #F2F2F2 1px;
	margin-top:0px;

}

/*����*/
.comments_body{


}

.post_box textarea{
	display:block;
	border:none;
	width:100%;
	padding:5px;
	min-height:50px;
	font-size:14px;
	overflow-y:auto;
	padding-top:10px;
	line-height:20px;
	border:solid #AFAFAF 1px;
	box-shadow:1px 1px 5px #dcdcdc inset;-moz-box-shadow:1px 1px 5px #dcdcdc inset;-khtml-box-shadow:1px 1px 5px #dcdcdc inset;

}


.post_box .post_act{
	float:right;
	margin-top: 10px;
	margin-bottom: 10px;
}
.post_box .post_act button{
	border:1px solid #FFF;
    background: none repeat scroll 0 0 #27AE60;
    border-color: #49be38;
    color: white;
    border-radius: 3px;
    font-size: 14px;
    padding: 5px 15px;
}
.send-quote  .post_box {
	padding:5px;
	width:80%;

	margin-left:100px;
}
.send-quote .post_box textarea{
	display:block;
	border:none;
	padding:5px;
	height:30px;
	font-size:14px;
	overflow-y:auto;
	padding-top:10px;
	line-height:20px;
	border:solid #AFAFAF 1px;
	box-shadow:1px 1px 5px #dcdcdc inset;-moz-box-shadow:1px 1px 5px #dcdcdc inset;-khtml-box-shadow:1px 1px 5px #dcdcdc inset;
}
.send-quote .post_act button{
	border:1px solid #FFF;
    background: none repeat scroll 0 0 #49be38;
    border-color: #00893C;
    color: white;
    font-size: 13px;
	border-radius: 1px;
    padding: 3px 15px;
}
.send-quote .post_box.small{
	margin-left:50px;
}
.send-quote .post_box.small textarea{
	height:45px;
	min-height:45px;
}
.send-quote .post_box.small button{
    font-size: 12px;
    padding: 1px 5px;
}
.commnet-box{
	font-size:14px;
	padding:10px;
}
.commnet-box li{
	margin-top:10px;
}
.commnet-box .avatar{
	width:40px;
	float:left;
	text-align:center;
}
.commnet-box .post_body{
	float:left;
	width:85%;
	margin-left:10px;
}
.commnet-box .post_body .post_header{
    color: #777777;
    font-size: 13px;
    line-height: 17px;
	position:relative;
	top:-2px;
}
.commnet-box .post_body .post_header .title{
	font-weight:600;
	color:#64854C ;
	font-family: "Microsoft Yahei";
}
.commnet-box .post_body .post_header .fl{
	font-weight:600;
	color:#A1A1A1 ;
	font-family:Georgia, "Times New Roman", Times, serif;
}
.commnet-box .post_body .post_content{
	line-height:21px;
	color:#828282;
	margin-top:8px;
	margin-bottom:8px;
}
.commnet-box .post_body .post_footer .fr{
	font-family: "Microsoft Yahei";
	font-style: normal;
    font-weight: 400;
    line-height: 1;
	font-size:13px;
}
.commnet-box .post_body .post_footer .fr  .action-item{
	padding-right:8px;
	color:#999;
}
.commnet-box .post_body .post_footer .fr  .action-item a{
	padding-right:3px;
	color:#999;
	text-decoration:none;
}
.decmt-box{
	background:#FFFEC8;
	border:solid  #626262 1px;
	padding:10px;
}
#commetpages{
	padding:10px;
	margin-top:10px;
	font-size:14px;
}
#commetpages a{
	font-weight:600;
	color:#64854C;
	font-family: "Microsoft Yahei";
}
/*  */
.area{
	background-color:#FFFFFF;
	width:49.5%;
	margin-bottom: 30px;
	display: inline;

}

.z{
	float:left;
}
.y{
	float:right;
}
/* ����Ӧ��ȵ����Ҳ���*/
.smart_con{
	margin-bottom:2px;
	margin-top:3px;
}
.imgpart{
	width:120px;
	height:90px;
	float:left;
	text-align:center;
}
.imgpart a{
	width:60px;
	height:45px;
	display:inline-block;
}
.imgpart img{
	margin-top:5px;
	width:90%;
	height:78%;
}
.smart_con .info{
	height:90px;
	float: right;
	margin: 0 0 0 -120px;
	width: 100%
}
.info .auto_right{
	margin: 0 0 0 130px;
}
.info .auto_right .title h3{
  font-family: "Microsoft Yahei",Courier,monospace;
  font-size:14px;
  max-width:97%;
  overflow:hidden;
  height:20px;
}
.info .auto_right  .subscrip{
  font-size:12px;
  max-width:89%;
  overflow:hidden;
  height:58px;
  color:#666666;
  line-height:19px;
}


/* ��ҳ */
.home_side h3{
    font-family: "Microsoft Yahei",Courier,monospace;
	font-size:14px;
}
.home_side a{
	font: 13px "Microsoft YaHei" !important;
}
.arclist li{
    margin-top:10px;
}
.arclist li span{
    background:#dcdcdc;
	margin-top:6px;
	text-align:center;
	width:18px;
	height:18px;
	color:#666;
	margin-right:5px;
	line-height:18px;
	display:inline-block;
}

 /* �û��б� */
.member-list ul{
	padding:5px;
}
.member-list ul li{
   margin: 5px;
   text-align: center;
   width:52px;
   float:left;
   overflow:hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}
.member-list ul li img {
    height: 52px;
    padding-bottom: 5px;
    width: 52px;
}

.member-list span.name {
    display: block;
    font-size: 12px;
}
.member-list ul li a {
    display: inline-block;
    text-decoration: none;
    width: 52px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.arclist li{
    margin-top:10px;
}
.arclist a{
	font-size: 14px;
}
.seemore{
    border: 0;
    outline: 0;
    padding: 0 10px ;
    display: inline-block;
    background-color: #e0e0e0;
    border-radius: 20px;
    font-size: 14px;
    color: #333;
    line-height: 25px;
    cursor: pointer;
    text-align: center;

}
.seemore:hover{
    text-decoration: none;
}


.opensource_recommend{

}
.opensource_recommend  li{
	float:left;
	width:20%;
	position: relative;
}
.opensource_recommend  li img{
    width:140px;
	height:220px;
}
.opensource_recommend .opens_title{
   position:absolute;
   bottom:0px;
   width:140px;
   background:rgba(46, 139, 70, 0.75);
   text-align:center;
   min-height:50px
}
.opensource_recommend  .opens_title a{
    width:140px;
    display:block;
	color:#fff;
}

.opensource_recommend  ul li {
	margin:10px 0 8px 0;
	float:left;
}
.opens_down_rank {
    margin-top:10px;
}
.opens_down_rank li{
    height:22px;
}
ul.asklist li{
margin-top:18px;
}
ul.asklist li img{
    width:30px;
    height:30px;
}
ul.asklist li .info{
    color:#999;
}
ul.asklist li .info a{
    color:#999;
}
/**ר��*/
.tbox{
}
.tbox h2{
    font-family: "Microsoft Yahei",Courier,monospace;
	padding:10px 0px 10px 0px;
	text-align: center;
}
/* ��Դ���� */
.topTit {
    padding-top: 50px;
    padding-bottom: 10px;
    width: 400px;
    margin: 0 auto;
    text-indent: 10px;
    text-align: center;
}
.topTit h3{
    color: #fff;
    font-size: 16px;
    line-height: 32px;
    font-weight: 100;
}
.topTit h1 {
    color: #fff;
    line-height: 32px;
}
.topTit h3 font {
    font-size: 30px;
}
.num5 {
    font-family: Georgia,Tahoma,Arial;
}

.menu-toggle{
 	display: inline-block;
 	height: 60px;
 	color: #b8c4ce;
 	line-height: 60px;
 	font-size:16px;
 	cursor: pointer;
}
.menu-toggle img{
	margin-top: -4px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.menu-toggle.expand img{
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}

.search-bg {
    height: 220px;
}
.sub-menu{
	position: relative;
	color:#fff;
}
/* SECOND LEVEL */
.sub-menu > ul {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 101;
  display: none;
  opacity: 0;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 1);
}
.sub-menu.open-menu > ul {
  display:block;
  opacity: 1;
}
.sub-menu.open-menu > ul li{
	float: left;
}
.normal_search{
    position: relative;
    height: 35px;
    border: 1px solid rgba(255,255,255,.8);
    border-radius: 16px;
    color: #fff;
    background: rgba(0,0,0,.15);
	width: 260px;
	margin: 0 auto;
}
.normal_search.small{
	 width: 195px;
}
.normal_search .search_input {
    font-size: 16px;
    width: 90%;
    height: 35px;
    line-height:35px;
    background: none;
    color: #fff;
    box-shadow: none;
   	border: 0;

    padding:5px;
}

.normal_search  .search_icon{ cursor:pointer;font-size:18px;display:block;height:35px; color:#fff; width:35px;line-height:35px;text-align:center;position:absolute;top:0;right:5px;z-index:0;}
.normal_search  .search_submit{border:0;display:inline-block;width:35px;height:35px;position:absolute;right: 5px;top:0;z-index:5;background:none;opacity:0;cursor:pointer;}

.opensource{
	background: #fafafa;

}

.opensource .basic_info{
    font-size: 14px;
}
.opensource  h1.title {
    border-bottom:none;
    color: #000000;
    font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti !important;
    font-size: 19px;
    padding:5px 0 5px 0;
	text-align: left;
}
.btn-download:hover{
   color:#ffffff !important;
}

.opensource .infol {
	padding-left:0px;
}
.opensource .infol .tags {
  color:#999;
}

.opensource .infol  li{
	margin: 9px 0;
}
.opensource .infol  li  .infovalue{
    width: 180px;
	display:inline-block;
	color:#333;
}
.opensource .infol  li  .infoname{
    width: 70px;
	display:inline-block;
}

.opensource   .btn-download {
	background-color: #27AE60;
    border-color: #00893C;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
	padding:8px 8px 8px 8px;
	text-align: center;
	display: block;
	border-radius: 5px;
	border: 1px solid transparent;
}
.opensource .btn-download  a:hover{
	text-decoration: none;
}
.opensource  .detail_info{
    margin:5px 0 5px 0;
}

.opensource  .detail_info h2{
    font-size: 20px;
	margin: 15px 0 15px 0;
    font-weight: 700;
}
.opensource  .detail_info .demoshow{
	max-width: 350px;
}

.opensource  .detail_info div.info_sg{
    font-size: 14px;
    padding:10px 0 10px 0;
	line-height:20px;
}
.opensource .relatedcode a{
   color:#333;
   font-size:16px;
}

/*left*/
.slidebar-box{
	float: right;
	margin-bottom: 20px;
}
.main-slidebar-title-box{
	float: left;
	width: 212px;
	background-color: #FFF;
}
.main-slidebar-title{
	float: left;
	padding: 10px 0;
	font-weight: normal;
	font-size: 15px;
}
.main-slidebar-content{
	width: 212px;
	float: left;
}
#slidebar-category-list{
}
#slidebar-category-list .category-title{
	width: 192px;
	padding: 5px;
}
#slidebar-category-list .category-title:hover{
	background-color: #FFF;
	color: #999;
}
.slidebar-category-one{
	color: #999;
	border-bottom: solid 1px #EAEAEA;
	border-right: solid 1px #EAEAEA;
	width: 25%;
}
.slidebar-category-one a{
	display: block;

	padding: 12px;
	text-decoration: none;
}
#slidebar-category-list .current, .slidebar-category-one:hover{
	background-color: #0F9932;
	color: #FFF;
}
#slidebar-category-list .current a, .slidebar-category-one:hover a{
	color: #FFF;
}


/**code list*/

#codelist{
	margin-bottom: 15px;
}

.codeli{
	padding: 5px;
	background-color: #FFF;
	border-bottom: solid 1px #E5E5E5;
	width:48%;

	height: 280px;
	border-radius: 4px;
	margin-top: 10px;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
}
#codelist .codeli:nth-child(odd){
    float:right;
}/*ѡȡż��*/
#codelist .codeli:nth-child(even){
    float:left;
}/*ѡȡ����*/
.codeli  .tags{
   color:#555;
   margin-top:10px;
}
.codeli .vist{
	position:absolute;
    right:0;
    top:5px;
    width: 45px;
	float: left;
	padding: 4px 0px;
	color: white;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	background: #0F9932;

}
.codeli .vist .ratingtext{
    margin-bottom: 0px;
    font-size: 12px;
    line-height: 14px;
    color: rgb(227, 227, 227);
    margin-top: 2px;
}

.codeli-photo{
	float:left;
	width:160px;
	height:240px;
	margin-right:10px;

}
.codeli-photo img{
	max-width: 160px;
	max-height: 240px;
}
.codeli-info{
	min-height:240px;
	padding: 0 10px;
	margin-left:170px;
	position:relative;
}
.codeli-name{
	margin:0;
	padding:0px 0px 10px 0px;
	font-size:16px;
	line-height:25px;
	font-weight: 600;
}

.codeli-author{
	margin-top: 10px;
	font-size: 13px;
}

.codeli-tagbox{
	width:538px;
	float:left;
	font-size:11px;
	margin-top:10px;
}

.codeli-description{
	min-height:120px;
	overflow:hidden;
	font-size:14px;
	line-height:20px;
	margin-top:15px;
	max-height: 120px;
}
.otherinfo{
	bottom:20px;
	left:10px;
	text-align:left;
	color: #999;
	font-size:13px;
	position: absolute;

}

.paginate-container{
    margin-bottom: 15px;
    margin-top: 20px;
	margin-left: 2px;

}

.paginate-container .pagination li {
    float: left;
}

.paginate-container .pagination li {
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    float: left;
    color: #555;
    margin-right: 10px;
}
.paginate-container .pagination li a:hover{
    background: none repeat scroll 0 0 #7caa5b;
	color: #fff;
}
.paginate-container .pagination li a{
    padding: 0 16px;
    color: #999;
    font-size: 16px;
    height: 40px;
    font-weight: bold;
    display: block;
    text-align: center;
    background: #eff2f5;
    border-radius: 2px;
    text-decoration: none;
}
.paginate-container .pagination li span{
    display:inline-block;
	height:45px;
	line-height:45px;
	padding:0 8px 0 8px;
}
.paginate-container .pagination li.number{
    width:49px;

}
.paginate-container .pagination li.number a{
    width:49px;
	text-align:center;
	padding:0px;
}
.paginate-container .pagination li.thisclass  a{
    background-color: #7caa5b;
    color: #fff;
    z-index: 3;
}


#sortlink0,#sortlink1,#sortlink2{
	margin-left: 10px;
}
#sort0 #sortlink0, #sort1 #sortlink1, #sort2 #sortlink2{
	color:#3498db;
	text-decoration:none;
}


.favbox{
	position:absolute;
	top:10px;
	right:10px;
	font-size:13px;
}
.favbtn{
	height:16px;
	padding:5px;
	float:right;
	background-color:#999;
	cursor:pointer;
	color:#FFF;
}
.favbtn:hover{
	background-color:#3498db;
	color:#FFF;
}
.favtips{
	float:right;
	font-size:12px;
	line-height:12px;
	height:12px;
	margin-top:3px;
	padding:4px 8px;
	color:#FFF;
	margin-right:2px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	background-color: #3498db;
}


/*pic scroll
----------------------------------*/

.imgscroll  a .special_topic_image {
  width:200px;
  height:140px;
  display:block;
}
.imgscroll   {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  padding:0px;
}
.imgscroll   li {
  display:block;
  color:#6C6D61;
  float:left;
  text-align:center;
  margin-right: 5px;

}
.imgscroll   .blockmore  a:hover {
	  	background: #7CCD7C;
}
.imgscroll   .blockmore  a{
	    display:block;
}
.imgscroll .blockmore{
	width:80px;
  	height:140px;
  	background: #999;
  	text-align:center;
  	line-height: 140px;

}


.archive-list .archive-item { padding-top: 15px; }

.archive-list .archive-item  .covercon{ float: left; margin-right: 20px; height: 130px; width:175px; }
.archive-list .archive-item img.cover {  max-height: 130px; width:175px; overflow: hidden; display: block; box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);}
.archive-list .archive-item .archive-text {padding: 0 0 8px;}

@media (max-width: 767px) {
.archive-list .archive-item  .covercon {
    height: 40px; width:50px;
    display: none;
  }
}


@media (max-width: 767px) {
.archive-list .archive-item img.cover{
    height: 40px; width:50px;
    display: none;
  }
}

.archive-detail {position: relative;}
.archive-detail h3 { font-size: 16px; font-weight: bold;  margin-bottom: 7px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.archive-detail h3 a:hover{ transition: 0.2s ease-out;text-decoration: none;}
.archive-detail p { font-size: 14px; color: #666; line-height: 25px; margin-bottom: 12px; max-height: 75px; overflow: hidden;  padding-right: 20px;}

.archive-info {}
.archive-info li { float: left; color: #999;font-size: 13px; }
.archive-info li.list-user a { margin: 5px 0; }
.archive-info li.list-user a img { display: block; float: left; width: 20px; height: 20px; border-radius: 100%;margin-right: 5px;}
.archive-info li.list-user a strong { display: block; float: left; color: #666; margin: 3px 0; padding: 0 5px; height: 14px; line-height: 14px;}
.archive-info li.list-user a:hover span { text-decoration: underline;}
.archive-info li.list-tag { border-left: 1px solid #eff2f5; margin: 3px 0; padding: 0 15px; height: 14px; line-height: 14px; }
.archive-info li.list-tag a { color: #999; }
.archive-info li.list-tag a:hover { color: #3498db; }
.archive-info li.list-msg {  }
.archive-info li.list-msg span { padding-left: 15px; /*float: left;*/}
.archive-info li.list-msg span i { margin-right: 3px; line-height: 13px; /*float: left;*/}
.archive-info li.list-msg .glyphicon-class{padding-left: 3px;}

.archive-data { position: absolute; bottom: 0px; right: 50px; color: #bdbdbd;}
.archive-data i { margin-right: 10px; color: #bdbdbd; font-size: 14px;}


/*������*/
.msg_box
{
	box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
	height:auto;
	font-size: 14px;

}
.mBlogLayer{

	border-collapse: collapse;
    border-spacing: 0;
}
.mBlogLayer .top_c, .mBlogLayer .bottom_c, .mBlogLayer .mid_l, .mBlogLayer .mid_r {
    background: url("../../education/images/banner/wraplayer_09.png") repeat scroll 0 0 transparent;
    height: 5px;
}
.mBlogLayer .mid_c {
    background: none repeat scroll 0 0 #FFFFFF;
}
.mBlogLayer .top_r, .mBlogLayer .top_l, .mBlogLayer .bottom_l, .mBlogLayer .bottom_r {
    background: url("../../education/images/banner//logoNew_nocache.png") no-repeat scroll 0 0 transparent;
    height: 5px;
    width: 5px;
}
.mBlogLayer .top_l {
    background-position: 0 -304px;
}
.mBlogLayer .top_r {
    background-position: -5px -304px;
}
.mBlogLayer .bottom_l {
    background-position: 0 -309px;
}
.mBlogLayer .bottom_r {
    background-position: -5px -309px;
}
.mBlogLayer .layerBox {

}
.mBlogLayer .layerBox .layerBoxTop {
    height: 27px;
    line-height: 27px;
    padding: 1px;
}
.mBlogLayer .layerBox .layerBoxTop .topCon {
    background: url("../../education/images/banner/layerctbg.gif") repeat-x scroll 0 0 transparent;
    height: 27px;
    line-height: 27px;
    padding: 0 10px;
    position: relative;
}

.layerBoxCon{



}
.layerBoxTop .topCon strong {
    float: left;
    font-weight: bold;
}
.layerBoxTop .topCon span {
    float: right;
    padding-right: 20px;
}
.layerBoxTop .topCon .tipicon {
    float: left;
    margin-top: 5px;
}
.layerBoxTop a.close, .topic_layer .close {

    overflow: hidden;
    position: absolute;
    right: 3px;
	padding-left: 10px;
    padding-right: 10px;
	color:#0F9932;
}
.layerBoxTop a.close:hover, .topic_layer .close:hover {
	background-color: #676767;

}


.schSearchLayer {
    padding: 15px 20px;
	min-height:70px;
	zoom:1;
	color:#696969;
	position: relative;
	_margin-right: -360px;
}
.schSearchLayer a{
	color:#FF8E1E;
}



.schSearchLayer .pinlist a{
	padding:2px;
}
.schSearchLayer .pinlist .total {
	position:absolute;
	right:3px;

}
.schSearchLayer .pinlist .total a{
	color:#598000;
}
.schSearchLayer .sch_form {
    padding: 0 5px 8px;
    position: relative;
    width: 540px;
}
.schSearchLayer .sch_form i, .schSearchLayer .sch_letter i {
    color: #FF0000;
    font-family: "����";
}
.schSearchLayer .sch_form select {
    font-size: 12px;
    margin-left: 5px;
    vertical-align: middle;
    width: 109px;
}
.schSearchLayer .sch_area {
    border-bottom: 1px dotted #CCCCCC;
    clear: both;
    padding: 5px 0 3px;
    width: 100%;
}

.schSearchLayer .sch_area li {
    float: left;
    padding: 1px 0 3px;
}
.schSearchLayer .sch_letter {
    clear: both;
    width: 100%;
}
.schSearchLayer .sch_letter ul {
    border-top: 1px dashed #CCCCCC;
}
.schSearchLayer .sch_letter p {
    padding: 0 5px 8px;
}
.schSearchLayer .sch_letter p strong {
    font-weight: bold;
}
.schSearchLayer .sch_letter p input {
    margin-left: 6px;
    vertical-align: middle;
}
.schSearchLayer .sch_letter .intromsg {
    background: none repeat scroll 0 0 #F0FFD4;
    border-radius: 3px 3px 3px 3px;
    color: #687058;
    display: inline-block;
    margin-left: 8px;
    padding: 3px 28px 3px 8px;
    vertical-align: middle;
}
.schSearchLayer .sch_letter li {
    float: left;
    padding: 5px 0;
}
.schSearchLayer .sch_list {
    clear: both;
    width: 100%;
}
.schSearchLayer .sch_list li {

    float: left;
    height: 19px;
    margin-left: 5px;
    overflow: hidden;
    padding: 6px 0 0 10px;
    white-space: nowrap;
    width: 160px;
}
.schSearchLayer .sch_area li a, .schSearchLayer .sch_letter li a, .schSearchLayer .sch_list li a {
    float: left;
    padding: 2px 4px;
    white-space: nowrap;
}
.schSearchLayer .sch_area li a:hover, .schSearchLayer .sch_letter li a:hover, .schSearchLayer .sch_list li a:hover {
    background: none repeat scroll 0 0 #CCCCCC;
    color: #FFFFFF;
    padding: 2px 4px;
    text-decoration: none;
}
.schSearchLayer .sch_listBrd {
    border: 1px solid #CCCCCC;
    height: 228px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}
.schSearchLayer .sch_notice1 {
    background: none repeat scroll 0 0 #FFFFE5;
    color: #666666;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
}
.schSearchLayer .sch_notice1 img {
    vertical-align: middle;
}
.schSearchLayer .sch_notice1 img.lf {
    margin: 6px 3px 0 10px;
}
.schSearchLayer .sch_notice1 span a {
    margin-left: 10px;
}
.schSearchLayer .sch_btn {
	margin-top:5px;
    text-align: center;

}
.schSearchLayer .dlLayer1 {
    margin: 0 20px;
}
.schSearchLayer .dlLayer1 dt {
    clear: both;
    display: block;
    height: 60px;
    overflow: hidden;
}
.schSearchLayer .dlLayer1 dt .h2_r {
    font-size: 14px;
    font-weight: 600;
    line-height: 60px;
}
.schSearchLayer .dlLayer1 dt img {
    float: left;
    margin-right: 7px;
}
.schSearchLayer .dlLayer1 dd.dd1, .schSearchLayer .dlLayer1 dd.dd2 {

    height: 19px;
    margin-left: 0;
    padding: 5px 0 0 12px;
}
.schSearchLayer .dlLayer1 dd.dd3 {
    border-bottom: 1px dotted #CCCCCC;
    color: #999999;
    line-height: 18px;
    padding: 30px 0 5px 5px;
}
.schSearchLayer .dlLayer2 {
    padding: 0 15px;
}
.schSearchLayer .dlLayer2 .p1 {
    font-weight: 600;
    padding: 7px 0 10px;
}
.schSearchLayer .dlLayer2 .p2 {
    color: #999999;
    line-height: 18px;
    padding-bottom: 10px;
}
.schSearchLayer .dlLayer2 .p3 {
    border-bottom: 1px dotted #CCCCCC;
    padding-bottom: 10px;
}
.schSearchLayer .dlLayer2 .p3 th {
    color: #333333;
    text-align: right;
}
.schSearchLayer .dlLayer2 .p3 th, .schSearchLayer .dlLayer2 .p3 td {
    padding: 5px 0 0;
}
.schSearchLayer .dlLayer2 .p3 td {
    display: block;
    padding: 5px 0 0;
    position: relative;
    width: 310px;
}
#red_applicationProvCityArea {
    position: absolute;
    right: 0;
    top: 2px;
}
.schSearchLayer .dlLayer2 .p3 th span {
    line-height: 23px;
}
.schSearchLayer .dlLayer2 .p3 select {
    color: #666666;
    float: left;
    margin-right: 5px;
    overflow: hidden;
    width: 90px;
}
.schSearchLayer .dlLayer2 .p3 .txt {
    color: #666666;
    height: 15px;
    line-height: 15px;
    padding: 4px 3px 2px;
    width: 200px;
}

.btn_gray{
		background-color:#DAE8F3;
		padding:2px 10px 1px 10px;
		border:solid #D7D7D7 1px;

}

/*---------- ����---------*/

.tweet-wrapper{
    position: relative;
    margin-top: 10px;
    min-width: 300px;
}
.tweet-wrapper textarea{
    border: 1px solid #ddd;
    height: 90px;
}
.tweet-post .insert{
	float:left;
}
.tweet-post .btn-success{
    display: inline-block;
    color: #fff;
    padding:5px 10px 5px 10px;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px;
    font-size: 14px;
    float: right;

}
/*---------- ����б� ---------*/
.media-list .content{
    font-size: 14px;
    color:#666;
	font-family: PingFangSC-Regular,'Roboto', Verdana, "Open Sans", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
}
.media-list .content a{
	color: #d06c44;
}
.media-list .content .img-attach{
	padding: 10px 0px 10px 0px;
	cursor:url('/images/icon-enlarge-gray.png'),auto;
	display: block;
	max-width: 98%;
}

.media-list .author{
    color: rgba(0,0,0,.87);
}
.media-list .date{
    display: inline-block;
    margin-left: .5em;
    color: rgba(0,0,0,.4);
    font-size: .875em;
}
.media-list .actions{
	margin-top: 5px;
}
.media-list .actions .ac-item{
    color: rgba(0,0,0,.5);
    margin-right: 10px;
}
.media-list .actions .ac-item a{
    color: rgba(0,0,0,.5);
}

.dropzone {
    border: 2px dashed #71C671!important;
    border-radius: 5px;
    background: white;
    color: rgba(0,0,0,.4);
}
/*---------- ���˵���������ز˵� ---------*/
.sub-full-expand-menu{
	position: absolute;
	top:0px;


}

 