<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  ...
</head>
<body>
<div th:fragment="footer" class="footer">
  <div class="layui-row">
    <ul class="layui-col-sm3">
      <li>条款</li>
      <li>wwww</li>
    </ul>
    <ul class="layui-col-sm3">
      <li>友情链接</li>
      <li>wwww</li>
    </ul>
  </div>
  <p><a href="#">flyapi</a> 2017 &copy; <a href="http://www.iflyapi.cn/">www.iflyapi.cn</a></p>
  <p>
    <a href="#" target="_blank">github</a>
    <a href="#" target="_blank">码云</a>
  </p>
</div>
</body>
<script>
    layui.use('util', function(){
        var $ = layui.jquery;
        var util = layui.util;

        //右下角bar top
        util.fixbar({
            bar1: true,
            click: function(type){
                console.log(type);
                if(type === 'bar1'){
                    alert('点击了bar1')
                }
            }
        });
    });
</script>
</html>
