<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header">
    <div class="main">
        <a class="logo" href="/" title="Fly">flyapi</a>
        <div class="nav">
           <!-- class="nav-this"-->
            <a id="home"  href="../forward/go?html=index.html" th:href="@{${rootPath} + '/forward/go?html=index'}">
                <i class="fa fa-home fa-fw"></i>首页
            </a>
            <a id="subject" href="../forward/go?html=article/subject" th:href="@{${rootPath} + '/forward/go?html=article/subject'}" target="_blank">
                <i class="fa fa-map-o fa-fw"></i>专题
            </a>
            <a id="book" href="../forward/go?html=book/index" th:href="@{${rootPath} + '/forward/go?html=book/index'}"  target="_blank">
                <i class="fa fa-book fa-fw"></i>易书
            </a>
            <a  data-dropdown="#dropdown-other">
                <i class="fa fa-list fa-fw"></i>其它
            </a>
            <div class="dropdown-menu dropdown-anchor-top-left dropdown-has-anchor" id="dropdown-other">
                <ul>
                    <li><a href="#">理财</a></li>
                    <li><a href="#">数字货币</a></li>
                    <!--<li class="divider"></li>-->
                    <li><a href="#">反馈</a></li>
                </ul>
            </div>
        </div>

        <div id="login-state">

        </div>
        <div class="nav-user" th:if="${session.user} == null">
            <a class="unlogin" href=""><i class="fa fa-user-circle-o fa-2x"></i></a>
            <span>
                <a href="#" th:href="@{${rootPath} + '/forward/go?html=login'}" >登录/注册</a>
                <!--<a href="../user/login.html">注册</a>-->
            </span>
        </div>
        <div class="flyhero-user" th:unless="${session.user} == null">
            <div class="user-hover" style="width: 80px;height: 65px;" data-dropdown="#dropdown-standard">
                <a class="avatar dropdown" href="">
                    <img src="../static/images/avatar/flyhero.jpg" th:src="@{${rootPath} + ${session.user.avatar}}">
                </a>
            </div>

            <div class="dropdown-menu dropdown-anchor-top-left dropdown-has-anchor" id="dropdown-standard">
                <ul>
                    <li><a href="../forword/go?html=/user/home" th:href="@{${rootPath} + '/forward/go?html=/user/home'}">主页</a></li>
                    <li><a href="../forword/go?html=/user/set" th:href="@{${rootPath} + '/forward/go?html=/user/set'}">设置</a></li>
                    <li><a href="../user/logout">退出</a></li>
                    <!--<li class="divider"></li>-->
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>