<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="left">
    <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
        <li class="layui-nav-item">
            <a href="home.html" th:href="@{${rootPath} + '/user/'+${session.user.userId}}">
                <i class="layui-icon">&#xe609;</i>
                我的主页
            </a>
        </li>

        <li id="fly-set" class="layui-nav-item left-menu">
            <a href="" th:href="@{${rootPath} + '/user/set'}">
                <i class="layui-icon">&#xe620;</i>
                基本设置
            </a>
        </li>

        <li  id="fly-center" class="layui-nav-item left-menu">
            <a href="" th:href="@{${rootPath} + '/user/index'}">
                <i class="layui-icon">&#xe612;</i>
                用户中心
            </a>
        </li>
        <li id="fly-message" class="layui-nav-item left-menu">
            <a href="" th:href="@{${rootPath} + '/user/message'}">
                <i class="layui-icon">&#xe611;</i>
                我的消息
            </a>
        </li>
        <li id="fly-openSocial" class="layui-nav-item left-menu">
            <a href="" th:href="@{${rootPath} + '/user/os'}">
                <i class="fa fa-flickr fa-fw" style="font-size: 20px;"></i>
                开源社交
            </a>
        </li>
<!--        <li id="fly-buy" class="layui-nav-item left-menu">
            <a href="" th:href="@{${rootPath} + '/forward/go?html=user/message'}">
                <i class="layui-icon">&#xe611;</i>
                易书 📚
            </a>
        </li>-->
    </ul>
</div>

</body>
</html>