<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:fragment="link">
        <link rel="stylesheet" href="../../static/layui/css/layui.css" th:href="@{${rootPath} + '/static/layui/css/layui.css'}">
        <link rel="stylesheet" href="../../static/css/global.css" th:href="@{${rootPath} + '/static/css/global.css'}">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  rel="stylesheet">


        <script src="../static/js/jquery.min.js" th:src="@{${rootPath} + '/static/js/jquery.min.js'}"></script>
        <script src="../../static/layui/layui.js" th:src="@{${rootPath} + '/static/layui/layui.js'}"></script>
        <script src="../static/js/date-util.js" th:src="@{${rootPath} + '/static/js/date-util.js'}"></script>


        <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  rel="stylesheet">

        <link rel="stylesheet" href="../static/css/dropdown.css" th:href="@{${rootPath} + '/static/css/dropdown.css'}"/>

        <script src="../static/js/jquery.sweet-dropdown.min.js" th:src="@{${rootPath} + '/static/js/jquery.sweet-dropdown.min.js'}"></script>
<!--        <link rel="stylesheet" href="../static/swiper/swiper-3.4.2.min.css" th:href="@{${rootPath} + '/static/swiper/swiper-3.4.2.min.css'}">
        <script src="../static/swiper/swiper-3.4.2.jquery.min.js" th:src="@{${rootPath} + '/static/swiper/swiper-3.4.2.jquery.min.js'}"></script>-->
        <!--<script src="../static/layer/layer.js" th:src="@{${rootPath} + '/static/layer/layer.js'}"></script>-->
        <script src="../static/js/date-util.js" th:src="@{${rootPath} + '/static/js/date-util.js'}"></script>
    </head>
</head>
<body>
</body>
</html>
