:root {
	box-sizing: border-box
}

*,
*::before,
*::after {
	box-sizing: inherit
}

/* 图标 */

@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1477416582'); /* IE9*/
  src: url('iconfont.eot?t=1477416582#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1477416582') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1477416582') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1477416582#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-zan:before { content: "\e612"; }
.icon-jiazaizhong:before { content: "\e60e"; }
.icon-sousuo:before { content: "\e621"; }
.icon-quanpingpad:before { content: "\e61d"; }
.icon-shezhi:before { content: "\e607"; }
.icon-shijian:before { content: "\e60a"; }
.icon-guanbi:before { content: "\e614"; }
.icon-tianjia:before { content: "\e616"; }
.icon-tuichu:before { content: "\e601"; }
.icon-shui:before { content: "\e602"; }
.icon-qq:before { content: "\e618"; }
.icon-weibo:before { content: "\e617"; }
.icon-tupian:before { content: "\e608"; }
.icon-logo:before { content: "\e603"; }
.icon-daima:before { content: "\e609"; }
.icon-biaoqing:before { content: "\e60f"; }
.icon-nan:before { content: "\e619"; }
.icon-nv:before { content: "\e61a"; }
.icon-quitquanping:before { content: "\e61e"; }
.icon-zuichun:before { content: "\e61c"; }
.icon-charushuipingxian:before { content: "\e622"; }
.icon-yulan:before { content: "\e60d"; }
.icon-liulanyanjing:before { content: "\e60b"; }
.icon-touxiang:before { content: "\e604"; }
.icon-caina:before { content: "\e613"; }
.icon-room:before { content: "\e615"; }
.icon-svgmoban53:before { content: "\e610"; }
.icon-shichang:before { content: "\e600"; }
.icon-shouye:before { content: "\e605"; }
.icon-tishilian:before { content: "\e629"; }
.icon-fabu:before { content: "\e606"; }
.icon-pinglun:before { content: "\e60c"; }
.icon-zan1:before { content: "\e611"; }
.icon-chengshi:before { content: "\e61b"; }
.icon-lianjie:before { content: "\e620"; }
.icon-renshu:before { content: "\e61f"; }
.icon-huizongzuoyoutuodong:before { content: "\e623"; }
.icon-404:before { content: "\e627"; }
.icon-wenda:before { content: "\e626"; }
.icon-top:before { content: "\e624"; }
.icon-ui:before { content: "\e625"; }

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
	margin: 0;
	padding: 0
}

body,
button,
input,
select,
textarea {
	font-size: 12px;
	line-height: 1.5
}

button,
input,
select,
textarea {
	font-family: inherit
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%
}


small {
	font-size: 12px
}

ul,
ol {
	list-style: none
}

a {
	text-decoration: none
}

legend {
	color: #000
}

fieldset,
img {
	border: 0
}

button,
input,
select,
textarea {
	font-size: 100%
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px white inset !important;
	background-color: #FFF !important
}

input,
textarea,
select {
	-webkit-transition: border-color 0.15s ease-in-out, background-color 0s !important;
	transition: border-color 0.15s ease-in-out, background-color 0s !important
}


ul.tab {
	border-bottom: 0;
	text-align: center
}

ul.tab li {
	position: relative;
	display: inline-block;
	line-height: 30px
}

ul.tab li a {
	display: inline-block
}

ul.tab li::after {
	content: "";
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%) scaleX(0);
	-ms-transform: translateX(-50%) scaleX(0);
	transform: translateX(-50%) scaleX(0);
	bottom: calc(50% - 1em);
	width: calc(100% - 30px);
	border-bottom: 1px solid #f55d54;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out
}

ul.tab li.active::after {
	-webkit-transform: translateX(-50%) scaleX(1);
	-ms-transform: translateX(-50%) scaleX(1);
	transform: translateX(-50%) scaleX(1)
}

ul.tab.dark li::after {
	border-color: white
}


.btn {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
	display: inline-block;
	-webkit-appearance: none;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	color: #f55d54;
	line-height: 24px;
	margin: 0 5px;
	background: none;
	border: none
}

.btn.btn-default {
	color: #f55d54;
	border: 1px solid #f55d54;
	background: white;
	box-shadow: 0px 6px 20px 0px rgba(245, 92, 84, 0.08)
}

.btn.btn-default:hover {
	background: #feeeed
}

.btn.btn-primary {
	color: white;
	border: 1px solid transparent;
	background: #f55d54;
	box-shadow: 0px 6px 20px 0px rgba(245, 92, 84, 0.16)
}

.btn.btn-primary:hover {
	background: #ff7c75
}

.btn.btn-link {
	color: rgba(39, 54, 78, 0.6)
}

.btn.btn-link:hover {
	color: #27364e
}

.btn.btn-link.lang {
	color: rgba(39, 54, 78, 0.6)
}

.btn.btn-link.active {
	color: #f55d54
}

.btn.btn-lg {
	padding: 0;
	margin: 0 10px;
	width: 166px;
	height: 50px;
	font-size: 1.6rem;
	line-height: 48px
}

.btn.btn-md {
	width: 120px;
	height: 40px;
	font-size: 1.4rem;
	line-height: 38px
}

.btn.btn-block {
	margin: 0;
	width: 100%;
	height: 100%
}

.dark .btn.btn-default {
	color: white;
	border: 1px solid transparent;
	background: #f55d54;
	box-shadow: 0px 6px 20px 0px rgba(245, 92, 84, 0.16)
}

.dark .btn.btn-default:hover {
	background: #ff7c75
}

.dark .btn.btn-primary {
	color: #f55d54;
	background: white;
	border: 1px solid transparent;
	box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.1)
}

.dark .btn.btn-primary:hover {
	background: #feeeed
}

.dark .btn.btn-link {
	color: rgba(255, 255, 255, 0.6)
}

.dark .btn.btn-link:hover {
	color: white
}

.dark .btn.btn-link.lang {
	color: rgba(255, 255, 255, 0.6)
}

.dark .btn.btn-link.active {
	color: white
}

.form-group {
	position: relative;
	width: 100%;
	height: 45px
}

.form-group:not(:last-child) {
	margin-bottom: 10px
}

.form-group .form-input {
	padding-left: 10px;
	line-height: 16px;
	width: 100%;
	height: 100%;
	outline: none;
	border: 1px solid #e0e0e0
}

.form-group .form-input:focus {
	border: 1px solid #f55d54
}

.form-group.form-group-icon .form-input {
	padding-left: 45px
}

.form-group.form-group-icon .form-input:focus+.form-icon i.fa {
	color: #f55d54
}

.form-group.form-group-icon .form-icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 45px;
	height: 100%;
	font-size: 20px;
	line-height: 45px;
	text-align: center;
	color: #c5c5c5
}

.form-error {
	background: rgba(245, 93, 84, 0.1);
	border: 1px solid rgba(245, 93, 84, 0.2);
	color: #f55d54;
	margin: 10px 0;
	padding: 10px;
	text-align: left
}

.login-box {
	text-align: center
}

.login-box .login-header .login-logo {
	height: 96px;
	width: 96px
}

.login-box .login-header h6 {
	font-size: 16px;
	color: rgba(39, 54, 78, 0.8);
	line-height: 30px
}

.login-box .btn.submit {
	margin: 5px 0;
	line-height: 43px
}

.login-box .login-header,
.login-box .login-body {
	margin: 0 auto;
	width: 100%
}

.login-box .login-footer {
	margin: 20px 0;
	color: rgba(39, 54, 78, 0.6)
}

.login-box .login-footer .forgot-password {
	margin-bottom: 10px
}

.login-box .login-footer .quick-login {
	width: 80%;
	max-width: 260px;
	margin: 0 auto;
	margin-top: 20px;
	color: rgba(39, 54, 78, 0.6)
}

.login-box .login-footer .quick-login .hr {
	border-bottom: 1px solid #dedfe1
}

.login-box .login-footer .quick-login .hr span {
	display: inline-block;
	padding: 0 17px;
	background: white;
	-webkit-transform: translateY(50%);
	-ms-transform: translateY(50%);
	transform: translateY(50%)
}

.login-box .login-footer .quick-login .fa-wechat  {
	margin-top: 24px;
	color: #0abb07;
	font-size: 32px;
	cursor: pointer
}
.fa-qq  {
	margin-top: 24px;
	color: #3580bb;
	font-size: 32px !important;
	cursor: pointer
}
.login-box .login-footer .switch-domain {
	width: 80%;
	margin: 0 auto
}

.login-box .login-footer .switch-domain a {
	display: inline-block;
	width: 100%;
	padding: 10px;
	border-top: 1px solid #efefef
}

.login-box .login-footer .switch-domain a:last-child {
	border-bottom: 1px solid #efefef
}

.login-box .login-footer .switch-domain a img,
.login-box .login-footer .switch-domain a span {
	vertical-align: middle
}

.form-input:-webkit-autofill {
	box-shadow: 0 0 0 5rem white inset
}

@-webkit-keyframes circle-fade-in {
	0% {
		opacity: 0
	}
	5% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@keyframes circle-fade-in {
	0% {
		opacity: 0
	}
	5% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@-webkit-keyframes sec-4-3 {
	0% {
		opacity: 0;
		width: 60vh;
		height: 60vh
	}
}

@keyframes sec-4-3 {
	0% {
		opacity: 0;
		width: 60vh;
		height: 60vh
	}
}

@-webkit-keyframes sec-4-4 {
	0% {
		opacity: 0;
		width: 30vh;
		height: 30vh
	}
}

@keyframes sec-4-4 {
	0% {
		opacity: 0;
		width: 30vh;
		height: 30vh
	}
}

@-webkit-keyframes sec-5-1 {
	0% {
		opacity: 0
	}
	100% {
		opacity: 0.4
	}
}

@keyframes sec-5-1 {
	0% {
		opacity: 0
	}
	100% {
		opacity: 0.4
	}
}

@-webkit-keyframes sec-6-1 {
	0% {
		opacity: 0
	}
	100% {
		opacity: 0.4
	}
}

@keyframes sec-6-1 {
	0% {
		opacity: 0
	}
	100% {
		opacity: 0.4
	}
}

@-webkit-keyframes sec-7-1 {
	0% {
		opacity: 0
	}
	100% {
		opacity: 0.4
	}
}

@keyframes sec-7-1 {
	0% {
		opacity: 0
	}
	100% {
		opacity: 0.4
	}
}

@-webkit-keyframes bounce-1 {
	0% {
		height: 0;
		opacity: 1;
		width: 0
	}
	15% {
		height: 30vh;
		width: 30vh
	}
	25% {
		height: 20vh;
		width: 20vh
	}
	35% {
		height: 30vh;
		width: 30vh
	}
	45% {
		height: 20vh;
		width: 20vh
	}
	70% {
		height: 90vh;
		width: 90vh
	}
	80% {
		height: 90vh;
		width: 90vh;
		opacity: 1
	}
}

@keyframes bounce-1 {
	0% {
		height: 0;
		opacity: 1;
		width: 0
	}
	15% {
		height: 30vh;
		width: 30vh
	}
	25% {
		height: 20vh;
		width: 20vh
	}
	35% {
		height: 30vh;
		width: 30vh
	}
	45% {
		height: 20vh;
		width: 20vh
	}
	70% {
		height: 90vh;
		width: 90vh
	}
	80% {
		height: 90vh;
		width: 90vh;
		opacity: 1
	}
}

@-webkit-keyframes bounce-2 {
	0% {
		border-width: 2rem;
		height: 0;
		opacity: 1;
		width: 0
	}
	15% {
		height: 20vh;
		width: 20vh
	}
	25% {
		height: 10vh;
		width: 10vh
	}
	35% {
		height: 20vh;
		width: 20vh
	}
	45% {
		border-width: 2rem;
		height: 10vh;
		width: 10vh
	}
	70% {
		border-width: 25vh;
		height: 116vh;
		width: 116vh
	}
	80% {
		height: 116vh;
		width: 116vh;
		opacity: 1
	}
	100% {
		height: 116vh;
		width: 116vh;
		opacity: 1
	}
}

@keyframes bounce-2 {
	0% {
		border-width: 2rem;
		height: 0;
		opacity: 1;
		width: 0
	}
	15% {
		height: 20vh;
		width: 20vh
	}
	25% {
		height: 10vh;
		width: 10vh
	}
	35% {
		height: 20vh;
		width: 20vh
	}
	45% {
		border-width: 2rem;
		height: 10vh;
		width: 10vh
	}
	70% {
		border-width: 25vh;
		height: 116vh;
		width: 116vh
	}
	80% {
		height: 116vh;
		width: 116vh;
		opacity: 1
	}
	100% {
		height: 116vh;
		width: 116vh;
		opacity: 1
	}
}

@-webkit-keyframes c-3 {
	0% {
		opacity: 0
	}
	70% {
		opacity: 0;
		-webkit-transform: translate3d(-10%, 10%, 0);
		transform: translate3d(-10%, 10%, 0)
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

@keyframes c-3 {
	0% {
		opacity: 0
	}
	70% {
		opacity: 0;
		-webkit-transform: translate3d(-10%, 10%, 0);
		transform: translate3d(-10%, 10%, 0)
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

@-webkit-keyframes c-4 {
	0% {
		opacity: 0
	}
	70% {
		opacity: 0;
		-webkit-transform: translate3d(10%, -10%, 0);
		transform: translate3d(10%, -10%, 0)
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

@keyframes c-4 {
	0% {
		opacity: 0
	}
	70% {
		opacity: 0;
		-webkit-transform: translate3d(10%, -10%, 0);
		transform: translate3d(10%, -10%, 0)
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

@-webkit-keyframes show-header {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 50%, 0);
		transform: translate3d(0, 50%, 0)
	}
	66% {
		opacity: 0;
		-webkit-transform: translate3d(0, 50%, 0);
		transform: translate3d(0, 50%, 0)
	}
}

@keyframes show-header {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 50%, 0);
		transform: translate3d(0, 50%, 0)
	}
	66% {
		opacity: 0;
		-webkit-transform: translate3d(0, 50%, 0);
		transform: translate3d(0, 50%, 0)
	}
}

@-webkit-keyframes screen-3 {
	0% {
		-webkit-transform: translate3d(-250%, 0, 0);
		transform: translate3d(-250%, 0, 0)
	}
	50% {
		-webkit-transform: translate3d(-250%, 24%, 0) rotate(-45deg) scale(0.65);
		transform: translate3d(-250%, 24%, 0) rotate(-45deg) scale(0.65)
	}
	100% {
		-webkit-transform: translate3d(-160%, 24%, 0) rotate(-45deg) scale(0.65);
		transform: translate3d(-160%, 24%, 0) rotate(-45deg) scale(0.65)
	}
}

@keyframes screen-3 {
	0% {
		-webkit-transform: translate3d(-250%, 0, 0);
		transform: translate3d(-250%, 0, 0)
	}
	50% {
		-webkit-transform: translate3d(-250%, 24%, 0) rotate(-45deg) scale(0.65);
		transform: translate3d(-250%, 24%, 0) rotate(-45deg) scale(0.65)
	}
	100% {
		-webkit-transform: translate3d(-160%, 24%, 0) rotate(-45deg) scale(0.65);
		transform: translate3d(-160%, 24%, 0) rotate(-45deg) scale(0.65)
	}
}

@-webkit-keyframes screen-2 {
	0% {
		z-index: 2;
		-webkit-transform: translate3d(-150%, 0, 0);
		transform: translate3d(-150%, 0, 0)
	}
	50% {
		-webkit-transform: translate3d(-150%, 22%, 0) rotate(-26deg) scale(0.65);
		transform: translate3d(-150%, 22%, 0) rotate(-26deg) scale(0.65)
	}
	100% {
		-webkit-transform: translate3d(-109%, 17%, 0) rotate(-26deg) scale(0.65);
		transform: translate3d(-109%, 17%, 0) rotate(-26deg) scale(0.65)
	}
}

@keyframes screen-2 {
	0% {
		z-index: 2;
		-webkit-transform: translate3d(-150%, 0, 0);
		transform: translate3d(-150%, 0, 0)
	}
	50% {
		-webkit-transform: translate3d(-150%, 22%, 0) rotate(-26deg) scale(0.65);
		transform: translate3d(-150%, 22%, 0) rotate(-26deg) scale(0.65)
	}
	100% {
		-webkit-transform: translate3d(-109%, 17%, 0) rotate(-26deg) scale(0.65);
		transform: translate3d(-109%, 17%, 0) rotate(-26deg) scale(0.65)
	}
}

@-webkit-keyframes screen-1 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
	50% {
		-webkit-transform: translate3d(0, 10%, 0) scale(0.65);
		transform: translate3d(0, 10%, 0) scale(0.65)
	}
	100% {
		-webkit-transform: translate3d(0, 1%, 0) scale(0.65);
		transform: translate3d(0, 1%, 0) scale(0.65)
	}
}

@keyframes screen-1 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
	50% {
		-webkit-transform: translate3d(0, 10%, 0) scale(0.65);
		transform: translate3d(0, 10%, 0) scale(0.65)
	}
	100% {
		-webkit-transform: translate3d(0, 1%, 0) scale(0.65);
		transform: translate3d(0, 1%, 0) scale(0.65)
	}
}

@-webkit-keyframes screen-4 {
	0% {
		z-index: 2;
		-webkit-transform: translate3d(50%, 0, 0);
		transform: translate3d(50%, 0, 0)
	}
	50% {
		-webkit-transform: translate3d(50%, 30%, 0) rotate(36deg) scale(0.65);
		transform: translate3d(50%, 30%, 0) rotate(36deg) scale(0.65)
	}
	100% {
		-webkit-transform: translate3d(9%, 25%, 0) rotate(36deg) scale(0.65);
		transform: translate3d(9%, 25%, 0) rotate(36deg) scale(0.65)
	}
}

@keyframes screen-4 {
	0% {
		z-index: 2;
		-webkit-transform: translate3d(50%, 0, 0);
		transform: translate3d(50%, 0, 0)
	}
	50% {
		-webkit-transform: translate3d(50%, 30%, 0) rotate(36deg) scale(0.65);
		transform: translate3d(50%, 30%, 0) rotate(36deg) scale(0.65)
	}
	100% {
		-webkit-transform: translate3d(9%, 25%, 0) rotate(36deg) scale(0.65);
		transform: translate3d(9%, 25%, 0) rotate(36deg) scale(0.65)
	}
}

@-webkit-keyframes screen-5 {
	0% {
		-webkit-transform: translate3d(150%, 0, 0);
		transform: translate3d(150%, 0, 0)
	}
	50% {
		-webkit-transform: translate3d(150%, 26%, 0) rotate(50deg) scale(0.65);
		transform: translate3d(150%, 26%, 0) rotate(50deg) scale(0.65)
	}
	100% {
		-webkit-transform: translate3d(50%, 26%, 0) rotate(50deg) scale(0.65);
		transform: translate3d(50%, 26%, 0) rotate(50deg) scale(0.65)
	}
}

@keyframes screen-5 {
	0% {
		-webkit-transform: translate3d(150%, 0, 0);
		transform: translate3d(150%, 0, 0)
	}
	50% {
		-webkit-transform: translate3d(150%, 26%, 0) rotate(50deg) scale(0.65);
		transform: translate3d(150%, 26%, 0) rotate(50deg) scale(0.65)
	}
	100% {
		-webkit-transform: translate3d(50%, 26%, 0) rotate(50deg) scale(0.65);
		transform: translate3d(50%, 26%, 0) rotate(50deg) scale(0.65)
	}
}


@-webkit-keyframes bounce-3 {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-50%, -5rem, 0) scaleX(0.7);
		transform: translate3d(-50%, -5rem, 0) scaleX(0.7)
	}
	70% {
		opacity: 0;
		-webkit-transform: translate3d(-50%, -5rem, 0) scaleX(0.7);
		transform: translate3d(-50%, -5rem, 0) scaleX(0.7)
	}
	80% {
		opacity: 1;
		-webkit-transform: translate3d(-50%, 0, 0) scaleX(0.7);
		transform: translate3d(-50%, 0, 0) scaleX(0.7)
	}
	87% {
		opacity: 1;
		-webkit-transform: translate3d(-50%, -1rem, 0) scaleX(0.7);
		transform: translate3d(-50%, -1rem, 0) scaleX(0.7)
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(-50%, 0, 0) scaleX(0.7);
		transform: translate3d(-50%, 0, 0) scaleX(0.7)
	}
}

@keyframes bounce-3 {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-50%, -5rem, 0) scaleX(0.7);
		transform: translate3d(-50%, -5rem, 0) scaleX(0.7)
	}
	70% {
		opacity: 0;
		-webkit-transform: translate3d(-50%, -5rem, 0) scaleX(0.7);
		transform: translate3d(-50%, -5rem, 0) scaleX(0.7)
	}
	80% {
		opacity: 1;
		-webkit-transform: translate3d(-50%, 0, 0) scaleX(0.7);
		transform: translate3d(-50%, 0, 0) scaleX(0.7)
	}
	87% {
		opacity: 1;
		-webkit-transform: translate3d(-50%, -1rem, 0) scaleX(0.7);
		transform: translate3d(-50%, -1rem, 0) scaleX(0.7)
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(-50%, 0, 0) scaleX(0.7);
		transform: translate3d(-50%, 0, 0) scaleX(0.7)
	}
}


.sign #web .login-box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100vh;
	min-height: 700px
}

.sign #web .login-box .box {
	min-height: 450px
}

.sign #web .login-box .login-header {
	padding-top: 40px;
	min-height: 240px
}

.sign #web .login-box .login-header h6,
.sign #web .login-box .login-header .tab {
	margin-top: 30px
}

.sign #web .login-box .login-header h6 a,
.sign #web .login-box .login-header .tab a {
	margin: 0 20px 20px
}

.sign #web .login-box .login-body {
	margin: 0 auto;
	width: 80%;
	max-width: 260px
}

.sign #web .login-box .switch-domain {
	width: 80%;
	max-width: 260px;
	margin: 20px auto
}

@media screen and (max-width: 660px) {
	.sign #web .login-box .box {
		min-height: initial
	}
	.sign #web .login-box .quick-login,
	.sign #web .login-box .switch-domain {
		display: none
	}
}

.cross {
	position: relative;
	display: inline-block;
	width: 16px;
	height: 16px
}

.cross:before {
	content: "";
	background: #f55d54;
	width: 16px;
	height: 1px;
	position: absolute;
	top: 8px
}

.cross:after {
	content: "";
	background: #f55d54;
	height: 16px;
	width: 1px;
	position: absolute;
	left: 8px
}

.wechat-sign {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.wechat-sign #web {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

.wechat-sign #web form {
	width: 300px
}

.wechat-sign #web form .login-header img {
	border-radius: 100%;
	margin-bottom: 20px
}

.wechat-sign #web form .wechat-name {
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	color: #f55d54
}

.wechat-sign #web form #bind-info {
	text-align: center;
	margin: 20px auto
}

.wechat-sign #web form .bind-btns .form-group {
	margin: 20px 0
}

.wechat-sign #web form .bind-btns .form-group .btn {
	margin: 0;
	width: 100%
}

.wechat-sign #web form .new-account,
.wechat-sign #web form .existing-account {
	margin-bottom: 2em;
	display: none
}

html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Pingfang SC", "Microsoft Yahei", sans-serif;
	color: #27364e;
	font-size: 10px
}

html,
body {
	overflow-x: hidden;
	font-weight: normal;
	line-height: 1.428571429
}

body {
	background-color: white;
	color: #27364e;
	font-size: 1.4rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between
}

body #web {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1
}

a {
	color: rgba(39, 54, 78, 0.6)
}

a:hover {
	color: #27364e
}

a:active {
	color: rgba(39, 54, 78, 0.6)
}

a.text-highlight {
	color: #f55d54
}

.open-in-app-wrapper {
	margin: 5rem
}

#db-visiblity-check {
	display: none
}

.switch-lang {
	position: absolute;
	padding: 20px;
	z-index: 2
}

/*.sign,
.forgot {
	background: -webkit-linear-gradient(top, #feefee 0%, #fff 30%, #fff 100%) repeat-x;
	background: linear-gradient(to bottom, #feefee 0%, #fff 30%, #fff 100%) repeat-x
}*/
