<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flyhero.flyapi.dao.InterfaceMapper">
  <resultMap id="BaseResultMap" type="com.flyhero.flyapi.entity.Interface">
    <id column="interface_id" jdbcType="INTEGER" property="interfaceId" />
    <result column="inter_name" jdbcType="VARCHAR" property="interName" />
    <result column="inter_des" jdbcType="VARCHAR" property="interDes" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="inter_url" jdbcType="VARCHAR" property="interUrl" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="module_id" jdbcType="INTEGER" property="moduleId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.flyhero.flyapi.entity.InterfaceWithBLOBs">
    <result column="param" jdbcType="LONGVARCHAR" property="param" />
    <result column="requestExam" jdbcType="LONGVARCHAR" property="requestexam" />
    <result column="responseParam" jdbcType="LONGVARCHAR" property="responseparam" />
    <result column="trueExam" jdbcType="LONGVARCHAR" property="trueexam" />
    <result column="falseExam" jdbcType="LONGVARCHAR" property="falseexam" />
  </resultMap>
  <sql id="Base_Column_List">
    interface_id, inter_name, inter_des, status, inter_url, method, create_time, update_time, 
    is_delete, module_id
  </sql>
  <sql id="Blob_Column_List">
    param, requestExam, responseParam, trueExam, falseExam
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from d5_interfaces
    where interface_id = #{interfaceId,jdbcType=INTEGER}
  </select>

  <select id="selectByModuleId" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from d5_interfaces
    where module_id = #{moduleId}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from d5_interfaces
    where interface_id = #{interfaceId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.flyhero.flyapi.entity.InterfaceWithBLOBs">
    insert into d5_interfaces (interface_id, inter_name, inter_des, 
      status, inter_url, method, 
      create_time, update_time, is_delete, 
      module_id, param, requestExam, 
      responseParam, trueExam, falseExam
      )
    values (#{interfaceId,jdbcType=INTEGER}, #{interName,jdbcType=VARCHAR}, #{interDes,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{interUrl,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=INTEGER}, 
      #{moduleId,jdbcType=INTEGER}, #{param,jdbcType=LONGVARCHAR}, #{requestexam,jdbcType=LONGVARCHAR}, 
      #{responseparam,jdbcType=LONGVARCHAR}, #{trueexam,jdbcType=LONGVARCHAR}, #{falseexam,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.flyhero.flyapi.entity.InterfaceWithBLOBs">
    insert into d5_interfaces
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="interfaceId != null">
        interface_id,
      </if>
      <if test="interName != null">
        inter_name,
      </if>
      <if test="interDes != null">
        inter_des,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="interUrl != null">
        inter_url,
      </if>
      <if test="method != null">
        method,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="moduleId != null">
        module_id,
      </if>
      <if test="param != null">
        param,
      </if>
      <if test="requestexam != null">
        requestExam,
      </if>
      <if test="responseparam != null">
        responseParam,
      </if>
      <if test="trueexam != null">
        trueExam,
      </if>
      <if test="falseexam != null">
        falseExam,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="interfaceId != null">
        #{interfaceId,jdbcType=INTEGER},
      </if>
      <if test="interName != null">
        #{interName,jdbcType=VARCHAR},
      </if>
      <if test="interDes != null">
        #{interDes,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="interUrl != null">
        #{interUrl,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="moduleId != null">
        #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="param != null">
        #{param,jdbcType=LONGVARCHAR},
      </if>
      <if test="requestexam != null">
        #{requestexam,jdbcType=LONGVARCHAR},
      </if>
      <if test="responseparam != null">
        #{responseparam,jdbcType=LONGVARCHAR},
      </if>
      <if test="trueexam != null">
        #{trueexam,jdbcType=LONGVARCHAR},
      </if>
      <if test="falseexam != null">
        #{falseexam,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.flyhero.flyapi.entity.InterfaceWithBLOBs">
    update d5_interfaces
    <set>
      <if test="interName != null">
        inter_name = #{interName,jdbcType=VARCHAR},
      </if>
      <if test="interDes != null">
        inter_des = #{interDes,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="interUrl != null">
        inter_url = #{interUrl,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="moduleId != null">
        module_id = #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="param != null">
        param = #{param,jdbcType=LONGVARCHAR},
      </if>
      <if test="requestexam != null">
        requestExam = #{requestexam,jdbcType=LONGVARCHAR},
      </if>
      <if test="responseparam != null">
        responseParam = #{responseparam,jdbcType=LONGVARCHAR},
      </if>
      <if test="trueexam != null">
        trueExam = #{trueexam,jdbcType=LONGVARCHAR},
      </if>
      <if test="falseexam != null">
        falseExam = #{falseexam,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where interface_id = #{interfaceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.flyhero.flyapi.entity.InterfaceWithBLOBs">
    update d5_interfaces
    set inter_name = #{interName,jdbcType=VARCHAR},
      inter_des = #{interDes,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      inter_url = #{interUrl,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=INTEGER},
      module_id = #{moduleId,jdbcType=INTEGER},
      param = #{param,jdbcType=LONGVARCHAR},
      requestExam = #{requestexam,jdbcType=LONGVARCHAR},
      responseParam = #{responseparam,jdbcType=LONGVARCHAR},
      trueExam = #{trueexam,jdbcType=LONGVARCHAR},
      falseExam = #{falseexam,jdbcType=LONGVARCHAR}
    where interface_id = #{interfaceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flyhero.flyapi.entity.Interface">
    update d5_interfaces
    set inter_name = #{interName,jdbcType=VARCHAR},
      inter_des = #{interDes,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      inter_url = #{interUrl,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=INTEGER},
      module_id = #{moduleId,jdbcType=INTEGER}
    where interface_id = #{interfaceId,jdbcType=INTEGER}
  </update>
</mapper>