<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flyhero.flyapi.dao.InterfacesMapper">
  <resultMap id="BaseResultMap" type="com.flyhero.flyapi.entity.Interfaces">
    <id column="interface_id" jdbcType="INTEGER" property="interfaceId" />
    <result column="inter_name" jdbcType="VARCHAR" property="interName" />
    <result column="inter_des" jdbcType="VARCHAR" property="interDes" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="inter_url" jdbcType="VARCHAR" property="interUrl" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="module_id" jdbcType="INTEGER" property="moduleId" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="param" jdbcType="LONGVARCHAR" property="param" />
    <result column="request_exam" jdbcType="LONGVARCHAR" property="requestExam" />
    <result column="response_param" jdbcType="LONGVARCHAR" property="responseParam" />
    <result column="true_exam" jdbcType="LONGVARCHAR" property="trueExam" />
    <result column="false_exam" jdbcType="LONGVARCHAR" property="falseExam" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    interface_id, inter_name, inter_des, status, inter_url, method, create_time, update_time, 
    module_id, creator, is_delete, param, request_exam, response_param, true_exam, false_exam,content
  </sql>
  <select id="findInterByWhere" parameterType="com.flyhero.flyapi.pojo.InterPojo" resultType="com.flyhero.flyapi.pojo.InterPojo">
<!-- 		SELECT
			t1.project_id projectId,
			t2.module_name moduleName,
			t3.interface_id interfaceId, 
			t3.inter_name interName, 
			t3.inter_des interDes, 
			t3.status, 
			t3.inter_url interUrl, 
			t3.method, 
			t3.create_time createTime, 
			t3.update_time updateTime, 
    		t3.module_id  moduleId, 
    		t3.creator, 
    		t3.param, 
    		t3.request_exam requestExam, 
    		t3.response_param responseParam, 
    		t3.true_exam trueExam, 
    		t3.false_exam falseExam,
			t4.user_name userName,
			t4.avatar_url avatarUrl,
			t4.email
		FROM
			fly_project t1
		LEFT JOIN fly_module t2 ON t1.project_id = t2.project_id
		LEFT JOIN fly_interfaces t3 ON t2.module_id = t3.module_id
		LEFT JOIN fly_user t4 ON t3.creator = t4.user_id
		WHERE
			t1.is_delete = 0 
			<if test="moduleId != null and moduleId != 0">
				AND t2.module_id = #{moduleId}
			</if>
			<if test="userName != null and userName != ''">
				AND t4.user_name LIKE '%${userName}%'
			</if>
			<if test="interName != null and interName != ''">
				AND t3.inter_name LIKE '%${interName}%'
			</if>
			AND t1.project_id = #{projectId}
		ORDER BY t3.create_time DESC -->
		<!-- CONCAT(CONCAT('%','接口2'),'%') -->
		
		
		SELECT
			t1.project_id projectId,
			t2.module_name moduleName,
			t3.interface_id interfaceId,
			t3.inter_name interName,
			t3.inter_des interDes,
			t3. STATUS,
			t3.inter_url interUrl,
			t3.method,
			t3.create_time createTime,
			t3.update_time updateTime,
			t3.module_id moduleId,
			t3.creator,
			t3.param,
			t3.request_exam requestExam,
			t3.response_param responseParam,
			t3.true_exam trueExam,
			t3.false_exam falseExam,
			t4.user_name userName,
			t4.avatar_url avatarUrl,
			t4.email
		FROM
			fly_interfaces t3
		LEFT JOIN fly_module t2 ON t3.module_id = t2.module_id
		LEFT JOIN fly_project t1 ON t2.project_id = t1.project_id
		LEFT JOIN fly_user t4 ON t3.creator = t4.user_id
		WHERE
			t1.is_delete = 0
			<if test="moduleId != null and moduleId != 0">
				AND t2.module_id = #{moduleId}
			</if>
			<if test="userName != null and userName != ''">
				AND t4.user_name LIKE '%${userName}%'
			</if>
			<if test="interName != null and interName != ''">
				AND t3.inter_name LIKE '%${interName}%'
			</if>
			AND t1.project_id = #{projectId}
		ORDER BY
			t3.create_time DESC
		
		
		
  </select>
  <select id="findAllInter" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
		t1.*
	FROM
		fly_interfaces t1
	LEFT JOIN fly_module t2 ON t1.module_id = t2.module_id
	LEFT JOIN fly_project t3 ON t2.project_id = t3.project_id
	WHERE
		t3.project_id = #{projectId}
  </select>  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fly_interfaces
    where interface_id = #{interfaceId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fly_interfaces
    where interface_id = #{interfaceId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.flyhero.flyapi.entity.Interfaces">
    insert into fly_interfaces (interface_id, inter_name, inter_des, 
      status, inter_url, method, 
      create_time, update_time, module_id, 
      creator, is_delete, param, 
      request_exam, response_param, true_exam, 
      false_exam)
    values (#{interfaceId,jdbcType=INTEGER}, #{interName,jdbcType=VARCHAR}, #{interDes,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{interUrl,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{moduleId,jdbcType=INTEGER}, 
      #{creator,jdbcType=INTEGER}, #{isDelete,jdbcType=INTEGER}, #{param,jdbcType=LONGVARCHAR}, 
      #{requestExam,jdbcType=LONGVARCHAR}, #{responseParam,jdbcType=LONGVARCHAR}, #{trueExam,jdbcType=LONGVARCHAR}, 
      #{falseExam,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.flyhero.flyapi.entity.Interfaces">
    insert into fly_interfaces
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="interfaceId != null">
        interface_id,
      </if>
      <if test="interName != null">
        inter_name,
      </if>
      <if test="interDes != null">
        inter_des,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="interUrl != null">
        inter_url,
      </if>
      <if test="method != null">
        method,
      </if>
        create_time,
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="moduleId != null">
        module_id,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="param != null">
        param,
      </if>
      <if test="requestExam != null">
        request_exam,
      </if>
      <if test="responseParam != null">
        response_param,
      </if>
      <if test="trueExam != null">
        true_exam,
      </if>
      <if test="falseExam != null">
        false_exam,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="interfaceId != null">
        #{interfaceId,jdbcType=INTEGER},
      </if>
      <if test="interName != null">
        #{interName,jdbcType=VARCHAR},
      </if>
      <if test="interDes != null">
        #{interDes,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="interUrl != null">
        #{interUrl,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        #{method,jdbcType=VARCHAR},
      </if>
      	NOW(),
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="moduleId != null">
        #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="param != null">
        #{param,jdbcType=LONGVARCHAR},
      </if>
      <if test="requestExam != null">
        #{requestExam,jdbcType=LONGVARCHAR},
      </if>
      <if test="responseParam != null">
        #{responseParam,jdbcType=LONGVARCHAR},
      </if>
      <if test="trueExam != null">
        #{trueExam,jdbcType=LONGVARCHAR},
      </if>
      <if test="falseExam != null">
        #{falseExam,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null">
        #{content}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.flyhero.flyapi.entity.Interfaces">
    update fly_interfaces
    <set>
      <if test="interName != null">
        inter_name = #{interName,jdbcType=VARCHAR},
      </if>
      <if test="interDes != null">
        inter_des = #{interDes,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="interUrl != null">
        inter_url = #{interUrl,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="moduleId != null">
        module_id = #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="param != null">
        param = #{param,jdbcType=LONGVARCHAR},
      </if>
      <if test="requestExam != null">
        request_exam = #{requestExam,jdbcType=LONGVARCHAR},
      </if>
      <if test="responseParam != null">
        response_param = #{responseParam,jdbcType=LONGVARCHAR},
      </if>
      <if test="trueExam != null">
        true_exam = #{trueExam,jdbcType=LONGVARCHAR},
      </if>
      <if test="falseExam != null">
        false_exam = #{falseExam,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null">
        content = #{content}
      </if>
    </set>
    where interface_id = #{interfaceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.flyhero.flyapi.entity.Interfaces">
    update fly_interfaces
    set inter_name = #{interName,jdbcType=VARCHAR},
      inter_des = #{interDes,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      inter_url = #{interUrl,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      module_id = #{moduleId,jdbcType=INTEGER},
      creator = #{creator,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=INTEGER},
      param = #{param,jdbcType=LONGVARCHAR},
      request_exam = #{requestExam,jdbcType=LONGVARCHAR},
      response_param = #{responseParam,jdbcType=LONGVARCHAR},
      true_exam = #{trueExam,jdbcType=LONGVARCHAR},
      false_exam = #{falseExam,jdbcType=LONGVARCHAR}
    where interface_id = #{interfaceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flyhero.flyapi.entity.Interfaces">
    update fly_interfaces
    set inter_name = #{interName,jdbcType=VARCHAR},
      inter_des = #{interDes,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      inter_url = #{interUrl,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      module_id = #{moduleId,jdbcType=INTEGER},
      creator = #{creator,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where interface_id = #{interfaceId,jdbcType=INTEGER}
  </update>
</mapper>