<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flyhero.flyapi.dao.ModuleMapper">
  <resultMap id="BaseResultMap" type="com.flyhero.flyapi.entity.Module">
    <id column="module_id" jdbcType="INTEGER" property="moduleId" />
    <result column="module_name" jdbcType="VARCHAR" property="moduleName" />
    <result column="module_des" jdbcType="VARCHAR" property="moduleDes" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_detele" jdbcType="INTEGER" property="isDetele" />
  </resultMap>
  <sql id="Base_Column_List">
    module_id, module_name, module_des, project_id, create_time, update_time, is_detele
  </sql>
  
  <select id="findModule" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fly_module
    where project_id = #{projectId} and is_detele=0
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fly_module
    where module_id = #{moduleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fly_module
    where module_id = #{moduleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.flyhero.flyapi.entity.Module">
    insert into fly_module (module_id, module_name, module_des, 
      project_id, create_time, update_time, 
      is_detele)
    values (#{moduleId,jdbcType=INTEGER}, #{moduleName,jdbcType=VARCHAR}, #{moduleDes,jdbcType=VARCHAR}, 
      #{projectId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isDetele,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.flyhero.flyapi.entity.Module">
    insert into fly_module
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="moduleId != null">
        module_id,
      </if>
      <if test="moduleName != null">
        module_name,
      </if>
      <if test="moduleDes != null">
        module_des,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
        create_time,
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDetele != null">
        is_detele,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="moduleId != null">
        #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="moduleName != null">
        #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="moduleDes != null">
        #{moduleDes,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      	NOW(),
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDetele != null">
        #{isDetele,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.flyhero.flyapi.entity.Module">
    update fly_module
    <set>
      <if test="moduleName != null">
        module_name = #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="moduleDes != null">
        module_des = #{moduleDes,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDetele != null">
        is_detele = #{isDetele,jdbcType=INTEGER},
      </if>
    </set>
    where module_id = #{moduleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flyhero.flyapi.entity.Module">
    update fly_module
    set module_name = #{moduleName,jdbcType=VARCHAR},
      module_des = #{moduleDes,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_detele = #{isDetele,jdbcType=INTEGER}
    where module_id = #{moduleId,jdbcType=INTEGER}
  </update>
</mapper>