<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flyhero.flyapi.dao.ProjectMapper">
  <resultMap id="BaseResultMap" type="com.flyhero.flyapi.entity.Project">
    <id column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="pro_name" jdbcType="VARCHAR" property="proName" />
    <result column="pro_des" jdbcType="VARCHAR" property="proDes" />
    <result column="pro_version" jdbcType="VARCHAR" property="proVersion" />
    <result column="target_date" jdbcType="DATE" property="targetDate" />
    <result column="done_count" jdbcType="INTEGER" property="doneCount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    project_id, pro_name, pro_des, pro_version, target_date, done_count, create_time, 
    update_time, is_delete
  </sql>

  <select id="findProjectDetail" parameterType="java.lang.Integer" resultType="com.flyhero.flyapi.pojo.ProjectDetailpojo">
<!-- 	  SELECT
		t1.up_id upId,
		t1.is_creator isCreator,
		t1.project_id projectId,
		t2.user_name userName,
		t2.avatar_url avatarUrl,
		t2.company,
		t3.pro_name proName,
		t3.pro_des proDes,
		t3.pro_version proVersion,
		t3.create_time createTime,
		t3.target_date targetDate,
		t3.done_count doneCount
	FROM
		fly_project
	WHERE
		project_id = #{projectId} -->
		
		
		SELECT 
				t1.project_id projectId,
				t1.is_creator isCreator,
				t2.pro_name proName,
				t2.pro_des proDes,
				t2.pro_version proVersion,
				t2.create_time createTime,
				t2.target_date targetDate,
				t2.done_count doneCount,
				t3.user_name userName,
				t3.avatar_url avatarUrl,
				t3.company	
		
		FROM fly_project t2
		LEFT JOIN fly_user_project t1 ON t2.project_id=t1.project_id AND t1.is_creator=1
		LEFT JOIN fly_user t3 ON t1.user_id = t3.user_id
		WHERE t2.project_id = #{projectId}
		
<!-- 		SELECT
			t4.up_id upId,
			t4.is_edit isEdit,
			t5.*
		FROM
			fly_user_project t4
		LEFT JOIN (
			SELECT
				t1.project_id projectId,
				t1.is_creator isCreator,
				t2.pro_name proName,
				t2.pro_des proDes,
				t2.pro_version proVersion,
				t2.create_time createTime,
				t2.target_date targetDate,
				t2.done_count doneCount,
				t3.user_name userName,
				t3.avatar_url avatarUrl,
				t3.company
			FROM
				fly_user_project t1
			LEFT JOIN fly_project t2 ON t1.project_id = t2.project_id
			LEFT JOIN fly_user t3 ON t1.user_id = t3.user_id
			WHERE
				t1.is_creator = 1
		) t5 ON t4.project_id = t5.projectId
		WHERE
			t4.up_id = #{upId} -->
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fly_project
    where project_id = #{projectId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fly_project
    where project_id = #{projectId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.flyhero.flyapi.entity.Project">
    insert into fly_project (project_id, pro_name, pro_des, 
      pro_version, target_date, done_count, 
      create_time, update_time, is_delete
      )
    values (#{projectId,jdbcType=INTEGER}, #{proName,jdbcType=VARCHAR}, #{proDes,jdbcType=VARCHAR}, 
      #{proVersion,jdbcType=VARCHAR}, #{targetDate,jdbcType=DATE}, #{doneCount,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.flyhero.flyapi.entity.Project" useGeneratedKeys="true" keyColumn="project_id" keyProperty="projectId">
    insert into fly_project
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        project_id,
      </if>
      <if test="proName != null">
        pro_name,
      </if>
      <if test="proDes != null">
        pro_des,
      </if>
      <if test="proVersion != null">
        pro_version,
      </if>
      <if test="targetDate != null">
        target_date,
      </if>
      <if test="doneCount != null">
        done_count,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
        create_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="proName != null">
        #{proName,jdbcType=VARCHAR},
      </if>
      <if test="proDes != null">
        #{proDes,jdbcType=VARCHAR},
      </if>
      <if test="proVersion != null">
        #{proVersion,jdbcType=VARCHAR},
      </if>
      <if test="targetDate != null">
        #{targetDate,jdbcType=DATE},
      </if>
      <if test="doneCount != null">
        #{doneCount,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
      NOW()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.flyhero.flyapi.entity.Project">
    update fly_project
    <set>
      <if test="proName != null">
        pro_name = #{proName,jdbcType=VARCHAR},
      </if>
      <if test="proDes != null">
        pro_des = #{proDes,jdbcType=VARCHAR},
      </if>
      <if test="proVersion != null">
        pro_version = #{proVersion,jdbcType=VARCHAR},
      </if>
      <if test="targetDate != null">
        target_date = #{targetDate,jdbcType=DATE},
      </if>
      <if test="doneCount != null">
        done_count = #{doneCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
    </set>
    where project_id = #{projectId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flyhero.flyapi.entity.Project">
    update fly_project
    set pro_name = #{proName,jdbcType=VARCHAR},
      pro_des = #{proDes,jdbcType=VARCHAR},
      pro_version = #{proVersion,jdbcType=VARCHAR},
      target_date = #{targetDate,jdbcType=DATE},
      done_count = #{doneCount,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where project_id = #{projectId,jdbcType=INTEGER}
  </update>
  <update id="updateDoneCount" parameterType="java.lang.Integer">
  	update fly_project
  	set done_count=done_count+1
  	where project_id = #{projectId}
  </update>
</mapper>