<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flyhero.flyapi.dao.VersionMapper">
  <resultMap id="BaseResultMap" type="com.flyhero.flyapi.entity.Version">
    <id column="version_id" jdbcType="INTEGER" property="versionId" />
    <result column="version_num" jdbcType="VARCHAR" property="versionNum" />
    <result column="version_des" jdbcType="VARCHAR" property="versionDes" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <collection property="versionLogList" resultMap="versionLogList"></collection>
  </resultMap>
  
  <resultMap id="versionLogList" type="com.flyhero.flyapi.entity.VersionLog">
    <id column="version_log_id" jdbcType="INTEGER" property="versionLogId" />
    <result column="version_log_content" jdbcType="VARCHAR" property="versionLogContent" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    version_id, version_num, version_des, create_time, update_time, is_delete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fly_version
    where version_id = #{versionId,jdbcType=INTEGER}
  </select>
  <select id="findVersionLog"  resultMap="BaseResultMap">
    select 
	    t1.version_id,
		t1.version_num,
		t1.version_des,
		t1.create_time,
		t1.update_time,
		t2.version_log_content,
		t2.create_time
    from fly_version t1
    LEFT JOIN fly_version_log t2 ON t1.version_id=t2.version_id
    ORDER BY t1.create_time DESC
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fly_version
    where version_id = #{versionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.flyhero.flyapi.entity.Version">
    insert into fly_version (version_id, version_num, version_des, 
      create_time, update_time, is_delete
      )
    values (#{versionId,jdbcType=INTEGER}, #{versionNum,jdbcType=VARCHAR}, #{versionDes,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.flyhero.flyapi.entity.Version">
    insert into fly_version
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="versionId != null">
        version_id,
      </if>
      <if test="versionNum != null">
        version_num,
      </if>
      <if test="versionDes != null">
        version_des,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="versionId != null">
        #{versionId,jdbcType=INTEGER},
      </if>
      <if test="versionNum != null">
        #{versionNum,jdbcType=VARCHAR},
      </if>
      <if test="versionDes != null">
        #{versionDes,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.flyhero.flyapi.entity.Version">
    update fly_version
    <set>
      <if test="versionNum != null">
        version_num = #{versionNum,jdbcType=VARCHAR},
      </if>
      <if test="versionDes != null">
        version_des = #{versionDes,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
    </set>
    where version_id = #{versionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flyhero.flyapi.entity.Version">
    update fly_version
    set version_num = #{versionNum,jdbcType=VARCHAR},
      version_des = #{versionDes,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=TINYINT}
    where version_id = #{versionId,jdbcType=INTEGER}
  </update>
</mapper>