<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
<appenders>
    <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %5p %t %-5l - %m%n"/>
    </Console>
    <!--
        fileName：指定日志的所在位置以及日志名称
        filePattern：指定备份的日志所在位置以及名称
    -->
    <RollingFile name="RollingFile" fileName="/logs/flyapi.log" filePattern="/logs/flyapi-$${date:yyyy-MM}/log4j2-xml-%d{yyyy-MM-dd}-%i.log">
        <!--输出的日志数据格式-->
        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %5p %t %-5l - %m%n"/>
        <Policies>
            <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
        </Policies>
        <DefaultRolloverStrategy max="180"/>
    </RollingFile>
</appenders>
<loggers>
    <root level="trace">
        <appender-ref ref="Console"/>
        <appender-ref ref="RollingFile"/>
    </root>
</loggers>
</configuration>